@import "bourbon/bourbon";
@import "base/grid-settings";
@import "base/base";
@import "neat/neat";

// colors

$dark-gray:		#3e464c;
$blue: 		 		#004571; // dark blue
$dark-blue:   #00395f; // very dark blue
$green: 	 		#6c9b21;
$cyan:				#01a4d2;
$light-cyan:	#72c7df;
$light:				#edeff2;
$gray:				#c1c4c5;

body {
	color: $dark-gray;
	margin: 0;
	padding: 0;
}

.hide-on-mobile {
	
	@include media($desktop) {
	}

	@include media($tablet) {
		display: none;
	}

	@include media($portrait) {
		display: none;
	}
	
	@include media($mobile) {
		display: none;
	}
	
}



.show-on-phone {
	
	display: none !important;	
	
	@include media($mobile) {
		display: block !important;
	}
	
}

.hide-on-phone {
		
	@include media($mobile) {
		display: none !important;
	}
	
}

.hide {
	display: none
}

.show-on-desktop {
	@include media($desktop) {
		display: block
	}
}

.show-on-tablet {
	@include media($tablet) {
		display: block
	}
}

.show-on-portrait {
	@include media($portrait) {
		display: block
	}
}


figure {
	margin: 0;
}

.row {
	@include row();
}

.button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	
	> span {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		@include transition(0.5s all);
		cursor: pointer;
		display: block;
	}
	
	> label {
		position: relative;
		display: block;
		font-weight: 500;
		background: transparent;
		margin: 0;
		cursor: pointer;
		text-align: center;
	}
		
}


.small.button,
button.small {
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
	> label {
		height: 32px;
		padding: 9px 18px;
		font-size: em(16) !important;
		font-weight: 500;
		line-height: 1.1em !important;
	}
		
}



.medium.button,
button.medium {
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
	> label {
		padding: 12px 21px;
		font-size: 16px !important;
		font-weight: 500;
		line-height: 1.1em !important;
	}
		
}

.big.button,
button.big {
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
	> label {
		padding: 15px 20px;
		font-size: 20px !important;
		font-weight: 500;
		line-height: 1.1em !important;
	}
		
}

.blue.button {
	@include linear-gradient($blue,$dark-blue);
	border: none;
	
	> span {
		@include radial-gradient(ellipse farthest-corner at center top, lighten($blue,12%), rgba($blue,0));		
	}
	
	> label {
		color: #fff;
	}
	
	&:hover {
		> span {
			opacity: 1;
			@include transition(0.2s all);
		}

	}
	
}

.darkblue.button {
	@include linear-gradient($blue,$dark-blue);
	border: none;
	
	> span {
		@include radial-gradient(ellipse farthest-corner at center top, lighten($blue,12%), rgba($blue,0));		
	}
	
	> label {
		color: #fff;
	}
	
	&:hover {
		> span {
			opacity: 1;
			@include transition(0.2s all);
		}

	}
	
}


.green.button {
	@include linear-gradient(lighten($green,5%),darken($green,5%));
	border: none;
	> span {
		@include radial-gradient(ellipse farthest-corner at center top, lighten($green,20%), rgba($green,0));		
	}
	> label {
		color: #fff;
	}
	&:hover {
		> span {
			opacity: 1;
			@include transition(0.2s all);
		}

	}
}

.signup-first {
	
	padding: 30px 0;
	text-align: center;
	
	.button {
		box-shadow: none;
		border: 1px solid darken($green,5%);
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
			> label {
				padding: 15px 20px;
				font-size: 22px !important;
				font-weight: 500;
				line-height: 1em !important;
			}
				
		}

}

.container {
	
	@include media($desktop) {
		@include outer-container(1160px);		
	}

	@include media($tablet) {
		@include outer-container(980px);
	}

	@include media($portrait) {
		@include outer-container(680px);
	}
	
	@include media($mobile) {
		@include outer-container(90%);		
	}

	
}

.inside {
	position: relative;
	height: 100%;
	width: 100%;
}

h2 {
	color: $blue;
}

.row {
	@include row();
}

header {
	
	height: 150px;
	
	@include media($tablet) {
		height: 105px;
	}

	@include media($portrait) {
		height: 105px;
	}
	
	@include media($mobile) {
		height: 105px;
	}
	
	.dark {
		
		@include linear-gradient($dark-blue,$blue);
		
		.container {
			.inside {
				
				height: 100px;
				
				#logo {
					position: absolute;
					left: 0;
					top: 50%;
					@include transform(translateY(-50%));
					img {
						display: block;
						width: 320px;
						
						@include media($mobile) {
							width: 240px;
							top: 55%;
						}
						
					}
				}
				
				ul {
					
					position: absolute;
					right: 0;
					top: 50%;
					@include transform(translateY(-50%));
					
					li {
						float: left;
						vertical-align: middle;
						margin-left: 1ex;
						
						a.link {
							font-size: em(18);
							display: block;
							padding: 10px 10px;
							color: $light-cyan;
							&:hover {
								color: lighten($light-cyan,20%);
							}				
						}
						
						&.active {
							.link {
								color: #fff;
							}
						}
						
						a.button {
							
							border: 1px solid darken($dark-blue,3%);
							
							&.login {
								margin-left: 30px;
							}
							
						}
						
					}

					@include media($tablet) {
						display: none;
					}
				
					@include media($portrait) {
						display: none;
					}
					
					@include media($mobile) {
						display: none;
					}
					
				}
				
				#fixedmenulink {
					height: 36px;
					position: absolute;
					right: 20px;
					top: 50%;
					z-index: 100000;
					
					label {
						background: url(../img/menu.svg) no-repeat center center;
						background-size: 80%;
						height: 36px;
					}
				
					@include media($desktop) {
						display: none;
						@include transform(translateY(-50%));
					}
					
					@include media($tablet) {
						display: block;
						@include transform(translateY(-50%));
					}
				
					@include media($portrait) {
						display: block;
						@include transform(translateY(-50%));
					}
					
					@include media($mobile) {
						display: block;
						position: fixed;
						top: 30px;
						right: 30px;
						
					}
			
				}
				
			}
		}
		
	}
	
	.light {
		
		background: $cyan;
		
		.container {
			.inside {
				
				height: 50px;		
				
					@include media($tablet) {
						height: 5px
					}
				
					@include media($portrait) {
						height: 5px
					}
					
					@include media($mobile) {
						height: 5px
					}
					
				
				ul {
					
					li {
						
						float: left;
						line-height: 50px;
						color: #fff;
						
						a.link {
							display: block;
							padding: 0 20px;
							font-size: em(18);
							color: #fff;
							@include transition(0.5s all);
						}
					
						&:hover {
							
							a {
								background-color: rgba($light-cyan,0.5);
							}
						}

						a.home {
							display: block;
							width: 65px;
							background-image: url(../img/iconHome.svg);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: 30px auto;							
							@include transition(0.5s all);
												
						}
						
						
						&.active {
							
							a.link {
								background: #fff;
								color: $cyan;
								@include transition(0.5s all);
							}							
							
							a.home {
								background-color: #fff;
								background-image: url(../img/iconHomeActive.svg);								
							}
							
						}
						
					
						&.right {
							float: right;
						}
						
					}					
										
					@include media($tablet) {
						display: none;
					}
				
					@include media($portrait) {
						display: none;
					}
					
					@include media($mobile) {
						display: none;
					}
					
				}
				
			}
		}
	}
	
	
}

#main {
	min-height: 500px;
}

body.home {
	
	#main {
		min-height: 600px;
		background: url(../img/home.jpg) no-repeat center -50px;
		
		@include media($tablet) {
			min-height: 700px;
			background-position: center bottom; 			
			background-size: 1500px auto;
		}
		
		
		@include media($portrait) {
			min-height: 900px;
			background-position: -700px bottom;			
		}
		
		@include media($mobile) {
			padding-bottom: 400px;
			background: url(../img/home.jpg) no-repeat right bottom;
			background-size: 900px auto;
		}
		
		
	}
	
	.lead {
		
		position: relative;
		top: 80px;
		
		h1 {
			font-size: em(48);
			line-height: 1.1em;
			margin-bottom: 30px;
			color: $cyan;
			
			@include media($mobile) {
				font-size: em(36);
			}
			
		}
		
		p {
			font-size: em(22);
			line-height: 1.3em;
			margin-bottom: 60px;
		}
		
		.button {
			box-shadow: none;
			border: 1px solid darken($green,5%);
		}
		
	}
	
}



#cennik {

	h1 {
		text-align: center;
		font-size: em(48);
		line-height: 1em;
		font-weight: 600;
		color: $cyan;
		margin: 80px 0 50px;	

		@include media($desktop) {
		}
	
		@include media($tablet) {
			font-size: em(40);
		}
	
		@include media($portrait) {
			font-size: em(40);
		}
		
		@include media($mobile) {
			font-size: em(36);
		}
		


	}

	p {
		font-size: em(20);
		text-align: left;
	}
	
	.signup-first {
		padding: 0 0 50px;
		@include media($mobile) {
			padding-bottom: 0px;
		}
	}

}

#pricelist {
	
	background: white;
	padding-bottom: 20px;
	
	.text {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.options {
		
		width: 480px;
		float: left;
		padding: 0 50px;
		
		@include media($tablet) {
			width: 380px;
			padding: 0 20px;
		}
		
		@include media($portrait) {
			width: 200px;
			padding: 0 10px;
		}
		
		
		
		h3 {
			font-size: em(20);
			text-align: center;
			margin: 1.5em 0 1em;
			
			@include media($portrait) {
				font-size: em(18);
				margin-top: -10px;
			}
			
			
		}
		
		.option {
			
			float: left;
			width: 23%;
			height: 100px;
			text-align: center;
			border: 2px solid transparent;
			cursor: pointer;
			margin: 0 1% 4px;
			padding-top: 10px;
			
			@include media($portrait) {
				width: 48%;
			}
			
			
			&:hover {
				border-color: #ccc;
			}
						
			&.active {
				border-color: $cyan;
				em {
					color: $cyan;
				}
			}
			
			label {
		
				font-size: em(14);
				
				input {
					display: none;
				}
				
				big {
					display: block;
					font-size: 2em;
					line-height: 1.1em;
				}
				
				em {
					color: $gray;
					display: block;
					font-style: normal;
					font-size: em(13);
					font-weight: bold;
					margin-top: 5px;
				}
				
			}
		}	
	
	}

	#table-header {
		
		float: right;
		width: 660px;
		margin: 0 0 20px auto;
		color: #fff;
		
		@include media($tablet) {
			width: 600px
		}
		
		@include media($portrait) {
			width: 450px;
		}
		
		
		
		ul {
			width: 100%;
			margin: 0;
			@include clearfix();
			li {
				float: left;
				width: 220px;
				
				@include media($tablet) {
					width: 200px;
				}
				
				@include media($portrait) {
					width: 150px;
				}
				
				
				&.pakiet-podstawowy {
					background: #0991ba;
				}
				&.pakiet-pelny {
					background: #0b81b0;
				}
				&.pakiet-all-inclusive {
					background: #1070a1;
					em.grosze {
						display: none;
					}
				}
			}
		}

		#header-names {

			z-index: 1000000;
			position: relative;
						

			li {
				z-index: 1000000;
				position: relative;
				padding: 20px;
				text-transform: uppercase;
				text-align: center;
				font-size: em(16);
				line-height: 1.2em;
				font-weight: 600;

				@include media($tablet) {
					height: 100px;
				}

				@include media($portrait) {
					font-size: em(14);
					height: 80px;
					padding-bottom: 0;
				}
				

			}
		}
		
		#header-prices {

			li {
				padding: 0 0 20px;
			}
			
			span {
				display: block;
			}
			
			.monthly {
				text-align: center;
				position: relative;
				top: -10px;
			}
			
			.price {
				text-align: center;
				font-size: em(52);
				line-height: 1.2em;
				height: 70px;
				font-weight: 600;
				letter-spacing: -2px;
				position: relative;
				
				@include media($portrait) {
					font-size: em(48);
				}
				

				em.zlote {
					font-style: normal;
				}
				
				em.grosze {
					font-style: normal;
					font-size: 0.6em;
					letter-spacing: 0px;
					position: relative;
					left: 3px;
					top: -10px;
					opacity: 0.5;
				}
				
				em.from {
					font-size: 0.45em;
					font-style: normal;
					margin-right: 4px;
					font-weight: 500;
					letter-spacing: 0px;
					opacity: 0.5;
				}
				
			}
			
		}
		
	}
	
	table {
		
		clear: both;
		margin: 0;
		
		td {
			padding: 0;
			height: 40px;
			line-height: 40px;
			border-bottom: none;					
		}
		
		td:first-child {
			padding-left: 20px;
			
			em {
				display: inline-block;
				content: "";
				background: #aaa;
				border-radius: 20px;
				height: 20px;
				padding: 0 10px;
				vertical-align: middle;
				margin-left: 1ex;	
				text-transform: uppercase;
				font-style: normal;
				font-size: em(11);
				font-weight: 600;
				line-height: 20px;
				color: #fff;
				cursor: pointer;
				&:hover {
					background: #999
				}
			}
			
		}

		td:not(:first-child) {
			width: 220px;
			
			@include media($tablet) {
				width: 200px;
			}
			
			@include media($portrait) {
				width: 150px
			}
			
			
			
			em.yes {
				height: 40px;
				width: 220px;
				display: block;
				overflow: hidden;
				text-indent: -1000000px;
				background: url(../img/tick.svg) no-repeat center center;
				background-size: auto 24px;

				@include media($tablet) {
					width: 200px;
				}
				
				@include media($portrait) {
					width: 150px
				}

			}

			em.opcja {
				display: block;
				line-height: 40px;
				text-align: center;
				text-decoration: underline;
				font-style: normal;
				cursor: pointer;
			}
			
			em.opis {
				display: block;
				line-height: 40px;
				text-align: center;
				font-style: normal;
			}

		}
		
		tr:nth-child(even) {
			background: rgba($gray,0.1);
		}
		
		td:nth-child(2) {
		}

		td:nth-child(3) {
			background: rgba($gray,0.1);			
		}

		td:nth-child(4) {
		}

		tr.trzy-gratis td {
			background: #fff;
			text-align: center;
			line-height: 1em;
			em {
				font-style: normal;
				color: $cyan;
				font-weight: 600;
				position: relative;
				text-transform: uppercase;
				top: -5px;
			}
			
		}

		
	}

}

#formularz {
	
	background: $light;
	padding-top: 80px;
	padding-bottom: 80px;
	
	h1 {
		text-align: center;
		font-size: em(48);
		line-height: 1em;
		font-weight: 600;
		color: $cyan;
		margin: 0 0 1em;	

		@include media($desktop) {
		}
	
		@include media($tablet) {
			font-size: em(40);
		}
	
		@include media($portrait) {
			font-size: em(40);
		}
		
		@include media($mobile) {
			font-size: em(36);
		}
		

	}
	
	p {
		font-size: em(16);
	}
	
	ul {
		font-size: em(16);
	}
	
	form {
		
		padding: 20px 0 0;
		@include span-columns(10);
		@include shift(3);
		
		@include media($mobile) {
			@include fill-parent();
			@include shift(0);
		}

		.select {
			
			@include row();
			
			label {
				@include span-columns(4 of 12);
				line-height: 20px;
				
				@include media($mobile) {
					@include fill-parent();
					line-height: 30px;
				}
				
			}
			
			select {
				@include span-columns(8 of 12);

				@include media($mobile) {
					@include fill-parent()
				}

			}

		}
		
		.input {
			
			@include row();
			
			label {
				@include span-columns(4 of 12);
				line-height: 40px;

				@include media($mobile) {
					@include fill-parent();
					line-height: 30px;
				}

			}
			
			input {
				@include span-columns(8 of 12);

				@include media($mobile) {
					@include fill-parent()
				}

			}
			
		}
		
		textarea {
			height: 140px;
		}
		
	}
	
	.text {
		
		@include span-columns(8);
		@include shift(1);
		
		@include media($mobile) {
			display: none;
		}
		
		padding: 40px 0 0;
		
		ul {
			
			margin-bottom: 1em;
			
			li {
				
				position: relative;
				padding: 2px 2px 2px 30px;
				
				&:before {
					content: "";
					position: absolute;
					left: 14px;
					top: 14px;
					background: $cyan;
					width: 4px;
					height: 4px;
				}
				
			}
		}
		
	}
		
}

#address {
	
	padding: 100px 0;
	
	@include media($mobile) {
		padding: 50px 0;
	}
	
	.column {
		
		@include span-columns(8);
		
		@include media($mobile) {
			@include fill-parent();
			margin-bottom: 30px;
		}
		
		h3 {
			font-size: em(20);
			color: $blue;
			margin-bottom: 1ex;
		}
				
	}
		
}

#map {
	height: 450px;
}

#footnote {
	
	padding: 50px 0;

	p.small {
		margin: 0;
		color: #666;
		font-size: em(14);
	}

}

#intro {
	
	text-align: center;
	
	@include media($desktop) {
		padding-top: 80px;
	}

	@include media($tablet) {
		padding-top: 40px;
	}

	@include media($portrait) {
		padding-top: 40px;
	}
	
	@include media($mobile) {
		padding-top: 40px;
	}
	
	h1 {
		
		font-size: em(48);
		line-height: 1em;
		font-weight: 600;
		color: $cyan;
		margin: 0 0 1em;	
		
		@include media($desktop) {
		}
	
		@include media($tablet) {
			font-size: em(40);
		}
	
		@include media($portrait) {
			font-size: em(40);
		}
		
		@include media($mobile) {
			font-size: em(36);
		}
		
	}
	
	p {
		font-size: em(20);
		
		@include media($mobile) {
			font-size: em(18);
			line-height: 1.3em;
		}
		
	}
		
}

#laptop {

	height: 600px;
	background: url(../img/laptop.svg) no-repeat bottom center;
	position: relative;

	@include media($portrait) {
		height: auto;
		background: none;
		padding: 40px;
	}
	
	@include media($mobile) {
		height: auto;
		background: none;
		padding: 40px;
	}
	
	#desktop {
		
		@include media($desktop) {
			width: 720px;
			height: 450px;
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			top: 86px;
			background: $blue;
		}
	
		@include media($tablet) {
			width: 720px;
			height: 450px;
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			top: 86px;
			background: $blue;
		}
	

	
	}
	
	
	
	a {
		
		position: relative;
		display: block;
		
		@include media($desktop) {
			position: absolute;
			margin: 0;
			box-shadow: 0 2px 20px rgba(0,0,0,0.4);
			content: "";
			top: 50%;
			@include transform(translateY(-50%));
			background-size: cover !important;
			background-position: center top !important;
			cursor: pointer;
			overflow: hidden;			
		}

		@include media($tablet) {
			position: absolute;
			margin: 0;
			box-shadow: 0 2px 20px rgba(0,0,0,0.4);
			content: "";
			top: 50%;
			@include transform(translateY(-50%));
			background-size: cover !important;
			background-position: center top !important;
			cursor: pointer;
			overflow: hidden;			
		}

		@include media($portrait) {
			position: relative;
			box-shadow: 0 2px 20px rgba(0,0,0,0.4);
			width: 500px;
			height: 330px;
			margin: 20px auto;
		}

		@include media($mobile) {
			margin: 10px 0;
		}
		
		
		span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include transition(0.2s all);				

			&.zoom1 {			
				opacity: 0.5;
				background: url(../img/zoom1.svg) no-repeat center center;
				background-size: 110%;
			}

			&.zoom2 {			
				opacity: 0;
				background: url(../img/zoom2.svg) no-repeat center center;
				background-size: 110%;
			}

		}
		
		&:hover {
			span {
				opacity: 0.5;
				@include transition(0.2s all);			
				
				&.zoom1 {
					opacity: 0;
				}
				
				&.zoom2 {
					opacity: 0.5;
				}
					
			}
		}
		
	}
	
	#front-screen {
		
		@include media($desktop) {
			left: 40px;
			width: 550px;
			height: 360px;
			background: #666;
			z-index: +1;			
		}

		@include media($tablet) {
			left: 30px;
			width: 315px;
			height: 210px;
			background: #666;
			z-index: +1;			
		}
		

		@include transition(0.25s all);
		
	}
	
	#second-screen {
		
		@include media($desktop) {
			right: 40px;
			width: 550px;
			height: 350px;
			background: #555;			
		}
	
		@include media($tablet) {
			right: 30px;
			width: 315px;
			height: 210px;
			background: #555;			
		}
		

		@include transition(0.25s all);
		
	}
	
	#desktop:hover {	
		
		#front-screen {
		
			@include media($desktop) {
				left: 30px;
				width: 315px;
				height: 210px;
				background: #666;
				z-index: +1;				
			}
			
			
			@include transition(0.25s all);
			
		}
		
		#second-screen {
			
			@include media($desktop) {
				right: 30px;
				width: 315px;
				height: 210px;
				background: #555;
			
			}	
			@include transition(0.25s all);
			
		}
		
	}
	
}


#features {
	
	background: $light;
	padding: 100px 0;
	
	@include media($mobile) {
		padding: 40px 0;
	}
	
	.feature {
		
		padding: 20px 0;
		margin: 0 0px;
		background-size: 50%;
		background-repeat: no-repeat;
		
		@include media($desktop) {
			@include row(table);
		}
	
		@include media($tablet) {
			@include row(table);
		}
	
		@include media($portrait) {
			@include row(table);
		}
		
		@include media($mobile) {
		}
		
		
		figure {
			

			@include media($desktop) {
				@include span-columns(12);
				margin: 0;
				vertical-align: middle;
			}
		
			@include media($tablet) {
				@include span-columns(12);
				margin: 0;
				vertical-align: middle;
			}
		
			@include media($portrait) {
				@include span-columns(12);
				margin: 0;
				vertical-align: middle;
			}
						
			@include media($mobile) {
				@include fill-parent();
				margin-bottom: 0;
			}
			
		}
		
		.text {
			
			@include media($desktop) {
				@include span-columns(12);
				vertical-align: middle;
				padding: 0 30px;
			}
		
			@include media($tablet) {
				@include span-columns(12);
				vertical-align: middle;
				padding: 0 30px;
			}
		
			@include media($portrait) {
				@include span-columns(12);
				vertical-align: middle;
				padding: 0 30px;
			}
						
			@include media($mobile) {
				@include fill-parent();
				padding: 0;
			}

		}
				
		h2 {
			font-size: em(24);
			margin-top: 0;
			margin-bottom: 1.25em;
			color: $blue;
			
			small {
				background: #fff;
				display: inline-block;
				padding: 5px 10px;
				line-height: 1em;
				font-size: 0.7em;
				color: $cyan;
				white-space: nowrap;
				margin: 0 0 1ex -1ex;
			}
			
		}
		
		&:nth-child(even) {
			
		}

		&:nth-child(even) {
			
		}

		
	}
	
}

#signup {
	
	@include linear-gradient($dark-blue,$blue);
	text-align: center;
	padding: 30px 0;
	color: #fff;
	
	p {
		font-size: em(18);
		display: inline-block;
		margin: 0;	
	}
	
	a {
		border: 1px solid darken($dark-blue,3%);
		margin: 0 1em;
		
		@include media($mobile) {
			margin: 1em 0;
		}
		
	}
	
	
	
}

#details {
	
	padding: 100px 0;
	
	h2 {
		font-size: em(30);
		text-align: center;
		margin-bottom: 50px;
	}
	
	.column {

		@include media($desktop) {
				@include span-columns(12 of 24);
				@include pad(20px);	
		}		

		@include media($tablet) {
				@include span-columns(12 of 24);
				@include pad(20px);	
		}		

		@include media($portrait) {
				@include span-columns(12 of 24);
				@include pad(20px);	
		}		
		
/*
		
	
		@include media($tablet) {
			@include span-columns(12);
			@include pad(20px);
		}
	
		@include media($portrait) {
			@include span-columns(12);
			@include pad(20px);
		}
		
		@include media($mobile) {
//			@include fill-parent();
		}
*/
		
		li {
			padding: 4px 0 4px 30px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 14px;
				top: 14px;
				background: $cyan;
				width: 4px;
				height: 4px;
			}
		}
		
	}
	
	.signup-first {
		padding: 60px 0 0;
	}
	
}

#quotes {
	
	background: $gray;
	padding: 40px 0;
	min-height: 200px;
	
	@include media($mobile) {
		min-height: 300px
	}
	
	.quotes {
		height: 120px;
		position: relative;
		height: 120px;
		
		@include media($mobile) {
			height: 220px;
		}
		
		.quote {
		
			display: block;
			width: 100%;
		
			.quote-content {
			
				display: block;
				text-align: center;
				font-size: em(20);	
				line-height: 1.25em;
				margin-bottom: 1ex;
				
			}
			
			.quote-author {
				
				display: block;
				text-align: center;
				font-size: em(16);
				opacity: 0.5;
				
			}
			
		}
		
		.cycle-pager {
			position: absolute;
			bottom: -10px;
			left: 50%;
			@include transform(translateX(-50%));
			
			span {
				width: 10px;
				height: 10px;
				margin: 4px;
				display: inline-block;
				overflow: hidden;
				text-indent: -10000000px;
				border: 2px solid #fff;
				border-radius: 10px;
				
				&.cycle-pager-active {
					background: #fff;	
				}
				
			}
			
		}
		
	}
	
	
}

footer {
	
	.pkobp {
		
		background: rgba($light,0.9);
				
		.container {
			.inside {
				
				background: url(../img/pkobp.svg) no-repeat left center;
				background-size: auto 72px;
				
				height: 120px;
				padding: 0 200px 0 260px;

				@include media($tablet) {
					height: 140px;
				}
				
				@include media($portrait) {
					height: 240px;
					background-position: left 30px;
					padding-right: 0px;
					padding-top: 35px;
				}
				
				@include media($mobile) {
					background-position: left 30px;
					height: auto;
					padding: 120px 0 30px;
					
				}
				
				
				.text {
					
		@include media($desktop) {
						position: relative;
						top: 50%;
						@include transform(translateY(-50%));											
					}

					@include media($tablet) {
						position: relative;
						top: 50%;
						@include transform(translateY(-50%));											
					}

					
				}
				
				
				
				figure {
					margin: 0;
					position: absolute;
					top: 50%;
					@include transform(translateY(-50%));
					left: 0;
				}
				
				h2 {
					font-size: em(28);
					line-height: 1.3em;
					font-weight: 500;
					color: $cyan;
					margin: 0;
					@include media($tablet) {
						font-size: em(24);
					}
					@include media($portrait) {
						line-height: 1.15em;
						margin-bottom: 10px;
					}
					
				}
				
				h3 {
					font-size: em(18);
					font-weight: 500;
					
					span {
						background: $cyan;
						color: #fff;
						display: inline-block;
						padding: 0 5px;
					}
				}
				
				.button {

					@include media($desktop) {
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translateY(-50%));						
					}
					
					@include media($tablet) {
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translateY(-50%));						
					}

					@include media($mobile) {
						margin-top: 20px;
					}
					
					@include media($portrait) {
						margin-top: 20px;
					}
					
					
				}
				
			}
		}
		
	}
	
	.dark {
		
		background: $blue;
		
		.container {
			.inside {
				
				padding: 30px 0;
				height: 200px;
				color: #fff;
				
				@include media($tablet) {
					height: 280px;
				}

				@include media($portrait) {
					height: 280px;
				}

				@include media($mobile) {
					height: 160px;
				}
				
				
				.row {

					@include row();

					.text {
						
						@include span-columns(6);
						text-align: right;
						
						.copy {
							font-size: em(16);
						}
						
						.true {
							font-size: em(14);
							color: darken($dark-blue,10%);
							a {
								color: darken($dark-blue,10%);
								text-decoration: underline;
							}
						}
						
						@include media($desktop) {
						}
					
						@include media($tablet) {
							text-align: left;
							@include fill-parent();
						}
					
						@include media($portrait) {
							text-align: left;
							@include fill-parent();
						}
						
						@include media($mobile) {
							text-align: left;
							@include fill-parent();
						}
						
					}
					
					ul {
						
						@include span-columns(18);
						text-align: left;
						
						li {
							display: inline-block;
							font-size: em(16);
							margin: 0 10px;
							a {
								color: $light-cyan;
							}
							&.active {
								a {
									color: #fff;
								}
							}
						}
						
						@include media($desktop) {
							display: block;
						}
					
						@include media($tablet) {
							display: none;
						}
					
						@include media($portrait) {
							display: none;
						}
						
						@include media($mobile) {
							display: none;
						}
						
						
					}
					
				}	
				
				.logos {
					
					margin-top: 30px;
					opacity: 0.5;
					
					@include media($mobile) {
						display: none;
					}
					
					@include media($portrait) {
						text-align: left;
					}
					
					
					li {
						float: left;
						margin-right: 4ex;						
						vertical-align: middle;
						height: 70px;
						figure {
							display: block;
							margin: 0;
							width: 100%;
							line-height: 70px;
							img {
								display: inline;
							}
						}
						
						&.logoSkanuj 			{		width: 130px }
						&.logoXenga 			{		width: 90px }
						&.logoSprawdzonyKsiegowy 	{		width: 130px }
						&.logoMCI 				{		width: 70px }
						&.logoCloudPlanet	{		width: 40px }
						
						&.right {
							float: right;
							margin-right: 0;
							

							@include media($tablet) {
								float: none;
								display: block;
								text-align: left;
							}

							@include media($portrait) {
								float: none;
								display: block;
								text-align: left;
							}
			
							@include media($mobile) {
								float: left;
								width: 300px;
								display: block;
								text-align: left;
							}
							
						}

						@include media($tablet) {
							float: none;
							display: inline-block;
						}
						
						@include media($portrait) {
							float: none;
							display: inline-block;
						}
						
						
					}
					
				}
				
			}
		}
	}
	
	
}

$color-blue: #3a70a7;


#dla-biur {
	
	#main {
		min-height: 500px;
		height: 700px;
		padding: 0;
		position: relative;
		
		.container {
			height: 700px;
		}
		
		.bg {
			position: absolute;
			left: 0;
			right: 0;
			top: -200px;
			bottom: -200px;
			background: url(../img/dla-biur-rachunkowych/features.jpg) no-repeat center center;
			background-size: cover;
			z-index: -1;
		
			.circles {
				background: url(../img/dla-biur-rachunkowych/circles.png) no-repeat center center;
				width: 100%;
				height: 100%;
				position: relative;
			}

		}
		
		.lead {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -250px 0 0 -250px;
			width: 500px;
			height: 500px;
			background: rgba(219,229,234,0.5);
			border-radius: 250px;
			padding: 30px;
			text-align: center;
			
			h1 {
				margin: 0 0 20px;
				padding-top: 80px;
				font-size: 30px;
				font-weight: 600;
				color: #fff;
				small {
					font-size: 24px;
					display: block;
				}				
			}
			p {
				&.big {
					font-size: 18px;
					font-weight: 600;
				}
				&.small {
					font-size: 14px;
					font-weight: 600;
				}
			}
			
			.inside {
				color: #fff;
				background: #303853;
				width: 100%;
				height: 100%;
				border-radius: 100%;
			}
		
			
		}
		
		.feature {
			text-align: center;	
			width: 200px;
			position: absolute;
			top: 50%;
			left: 50%;
			
			figure {
				margin: 0 auto 10px;
			}
			
			h3 {
				margin-bottom: 10px;
				line-height: 13px;

				span {
					display: inline-block !important;
					background: rgba(43,45,53,0.8);
					font-size: 13px;
					padding: 3px 8px;
					line-height: 16px;
					font-weight: 600;
					color: #fff;
					margin-top: -2px !important;

				}

			}
			em {
				display: inline-block;
				height: 28px;
				width: 28px;
				background: url(../img/dla-biur-rachunkowych/more-feature.png);
			}
			
			.text {
				position: absolute;
				top: 60%;
				@include transform(translateY(-50%));
				left: -20px;
				right: -20px;
				@include linear-gradient(#fff,#eee);
				opacity: 0.95;
				border-radius: 5px;
				box-shadow: 0 5px 10px rgba(0,0,0,0.25);
				font-size: 13px;
				font-weight: 600;
				padding: 20px;
				opacity: 0;
				@include transition(0.5s all);
				cursor: pointer;
			}
			
			&:hover {
				.text {
					@include transition(0.5s all);
					opacity: 1;
					top: 50%;
				}
			}
			
			&#nowoczesne-narzedzia {
				margin-top: -280px;
				margin-left: -440px;
			}
			
			&#promocja-w-internecie {
				margin-top: -100px;
				margin-left: -580px;
			}
			
			&#przewaga-konkurencyjna {
				margin-top: 80px;
				margin-left: -420px;
			}
			
			&#uczestnictwo-w-projektach {
				margin-top: -240px;
				margin-left: 320px;
			}

			&#partnerstwo-z-bankami {
				margin-top: -20px;
				margin-left: 300px;
			}

			
		}

		
		
	}
	
	#opinions {
		
		min-height: 700px;
		background: url(../img/dla-biur-rachunkowych/informacyjna-bg.jpg) no-repeat center top;
		background-size: cover;
		padding: 0;
	
		.container {
			
			width: 900px;
			background: rgba(255,255,255,0.9);
			@include border-bottom-radius(450px);
			height: 450px;
			padding-top: 50px;
			
			
		}
	
		.opinion-list {
			
			overflow: visible !important;
			margin: 0 auto;
			position: relative;
			height: 150px;
			width: 600px;
			padding: 0px;
			margin: 20px auto;
			
			> a {
				position: absolute;
				top: 50%;
				margin-top: -24px;
				&#prev-opinion {
					left: -100px;
				}
				&#next-opinion {
					right: -100px;
				}

			}
			
			.opinion {
				height: 150px;
				.inside-opinion {
					position: absolute;
					top: 50%;
					@include transform(translateY(-50%));					
					p {
						text-align: center;
						font-size: 14px;
						line-height: 18px;					
						&.author {
							color: #aaa;
						}
					}
					
					
				}
			}
			
			.slidesjs-navigation {				
				position: absolute;
				top: 50%;
				margin-top: -30px;
				width: 30px;
				height: 30px;
				overflow: hidden;
				text-indent: -100000px;
				opacity: 1;
				@include transition(0.5s all);
				&:hover {
					opacity: 0.5;
					@include transition(0.5s all);
				}
			}
			
			.slidesjs-previous {
				left: -60px;
				background: url(opinion-prev.png) no-repeat center center;
			}
			
			.slidesjs-next {
				right: -60px;
				background: url(opinion-next.png) no-repeat center center;
			}
			
		}
		
		.button-container {
			margin-top: 50px;
		}		
		
	}
	
}

/* PAKIETY */



#package-list {
	
	position: relative;
	@include linear-gradient(rgba(#333,0.7),rgba(#333,0.9));
	text-align: center;
	color: #fff;
	
	.container {
		padding-top: 70px;
		height: 200px;
		position: relative;
	}
	
	h1 {
		font-size: em(40);
		height: 50px;
		line-height: 1em;
		margin-bottom: 1em;
		text-align: center;
		color: #fff;
	}
	
	h2 {
		color: white;
		font-size: em(24);
		line-height: 1.2em;
		small {
			display: block;
			margin-top: 1em;
			font-size: 0.8em;
			line-height: 1.2em;
		}
		
	}

	h3 {
		font-size: em(24);
		color: #fff;
		font-weight: 600;
		position: absolute;
		bottom: 80px;
		right: 0;
		left: 0;
	}
	
	
	ul {
		height: 60px;
		margin: 0;
		text-align: left;
		position: absolute;
		bottom: 0;
		left: 350px;
		
		li {
			height: 60px;
			display: inline-block;
			margin-right: 1ex;
			float: left;
			background-color: #666;
			cursor: pointer;
			font-size: 16px;
			line-height: 1em;
			
			&:hover {
				background-color: #777;
			}

			&.aktywny.premium {
				background-color: #008cc0;
				a { 
					color: #fff;
				}
			}

			&.aktywny.podstawowy {
				background-color: #5d448b;
				a { 
					color: #fff;
				}
			}

			&.aktywny.bankowy {
				background-color: #008092;
				a { 
					color: #fff;
				}
			}
			label {
				display: block;
				padding: 20px 30px;
				font-size: em(20);
				font-weight: 600;
				color: #eee;
				cursor: pointer;
			}
		}
	}
}

#package-details {
	
	section.package { 
		
		padding-top: 0;
		display: none;
		
		&.aktywny {
			display: block;
		}
		
		
		.intro {
			padding: 0 0;
			height: 280px;
			color: #fff;
			
			.container {
				height: 280px;
			}
			
			h2 {
				font-size: em(36);
				color: #fff;
				margin-bottom: 20px;
			}
			
			
			p {
				font-size: em(22);
				font-weight: 500;
				color: #fff;
			}
			
			.sticky {
				position: absolute;				
				width: 270px;
				height: 260px;
				padding: 35px 30px;
				padding-right: 0px;
				z-index: 10000000;
				
				
				.price {
					margin-bottom: 30px;
					height: 130px;
					.price-label {
						font-weight: 600;
						display: block;
						font-size: em(24);
						height: 30px;
					}
					.price-monthly {
						font-weight: 600;
						display: block;
						font-size: em(20);
					}
					.price-value {
						display: block;
						font-size: em(64);
						line-height: 1.1em;
						font-weight: 700;
						height: 65px;
						span.od {
							font-size: 0.5em;
							line-height: 1em;
							margin-right: 5px;
						}
						}					
					}
				
				}
				
				.intro-text {
					
					@include span-columns(16);
					@include shift(7);
					padding: 40px 0;
					
				}			
			
			}
		
		&#premium {
			.intro,
			.sticky {
				background-color: #008cc0;
			}
		}
		
		&#podstawowy {
			.intro,
			.sticky {
				background-color: #5d448b;
			}
		}
	
	
		&#bankowy {
			.intro,
			.sticky {
				background-color: #008092;
			}
		}
	
	
		
		> .container {
			padding: 50px 0 100px;
			padding-left: 360px;
			
			h3 {
				font-size: em(24);
				line-height: 1.4em;
			}
			
			ul.process {
				
				margin-bottom: 3em;
				counter-reset: item;
  
  				> li {
					display: block;
					padding: 12px 12px 12px 36px;
					font-size: em(18);
					border-bottom: 1px solid rgba(0,0,0,0.1);
					counter-increment: item;
					position: relative;
  					
					&:before {
						content: counter(item);
						background: $color-blue;
						color: #fff;
						font-weight: 600;
						text-align: center;
						width: 24px;
						height: 24px;
						line-height: 24px;
						position: absolute;
						top: 10px;
						left: 2px;
						border-radius: 100%;
  				}
					
				}
				
			}
			
			ul.features {
				
				margin-bottom: 3em;
				
				> li {
					display: block;
					padding: 12px 12px 12px 36px;
					font-size: em(18);
					border-bottom: 1px solid rgba(0,0,0,0.1);
					background-image: url(../img/dla-biur-rachunkowych/tick.svg);
					background-position: 10px 18px;
					background-size: 14px;
					background-repeat: no-repeat;
					
					span.more {
						background: $color-blue;
						color: #fff;
						font-weight: 600;
						text-transform: uppercase;
						font-size: 13px;
						white-space: nowrap;
						padding: 2px 6px;
						display: inline-block;
						margin-top: 5px;
						border-radius: 2px;
						cursor: pointer;
						&:hover {
							background: lighten($color-blue,10%);
						}
					}
					
					&.plus, &.pakiet-premium {
						border-bottom: none;
					}
					
					&.plus {
						color: #13a538;
						font-weight: 600;
						background: none !important;
					}
					
					.details {
						
						margin: 20px 0 0;
						background: #fff;
						padding: 20px 20px 30px;
						display: none;

						span.close {
							background: $color-blue;
							color: #fff;
							font-weight: 600;
							text-transform: uppercase;
							font-size: 13px;
							white-space: nowrap;
							padding: 2px 6px;
							display: inline-block;
							margin-top: 20px;
							border-radius: 2px;
							cursor: pointer;
							&:hover {
								background: lighten($color-blue,10%);
							}
						}
						
						h4 {
							margin: 2em 0 1em;
							color: $color-blue;
							font-size: em(18);
							strong {
								font-size: em(24);
								line-height: 1.6em;
								display: block;
								font-weight: 600;
							}
							&:first-child {
								margin-top: 0;
								margin-bottom: 2em;
							}
						}
						
						p {
							font-size: em(15);
						}

						li {
							padding: 3px 0 3px 28px;
							font-size: em(15);
							background-image: url(../img/dla-biur-rachunkowych/bullet.svg);
							background-position: 12px 10px;
							background-size: 5px;
							background-repeat: no-repeat;
						}
						
						
						figure {
							
							background-image: url(../img/dla-biur-rachunkowych/package-ai.png);
							background-position: center top;
							background-repeat: no-repeat;
							
							> div {
								text-align: center;
								padding: 32px 0;
								font-size: em(15);
							}
							
							margin: 0 -20px;
							padding: 0 20px;
							height: 260px;
							display: block;
						
							
						}
						
						
					}
	
					.icons {
						img {
							margin: 10px 20px 10px 0;
							display: inline-block;
						}
					}

					
				}
				
			}
			
		}
	
		
	}

}

#all-inclusive {
	
	#intro {
		height: 700px;
		background: url(../img/image-13.svg) no-repeat bottom center;
		background-size: 1600px auto;
		
		@include media($mobile) {
			height: 500px;
			background-size: 400px auto;
		}
		
	}
	
}


#o-nas {
	
	#intro {
		text-align: left;
		padding-bottom: 100px;
		* {
			text-align: left;
		}
		.bigger {
			font-size: em(24);
		}
		
	}
	
	#history {
		
		background: $light url(../img/history.svg) repeat-y center top;
		background-size: 16px 16px;
		padding: 100px 0;
		
		@include media($mobile) {
			background: $light;
		}
	
		.event {
			
			width: 50%;
			height: 150px;
			position: relative;
		
			@include media($mobile) {
				width: 100%;
				height: auto;
				margin-bottom: 40px;
			}
		
			.year {
				color: $green;
				font-size: em(24);
				
				@include media($desktop) {
					width: 100px;
					height: 100px;
					border: 3px solid #fff;
					background: $light;
					text-align: center;
					line-height: 100px;
					border-radius: 100%;
					position: absolute;
					top: 50%;
					margin-top: -50px;					
				}	
							
			}
			
			p {

				@include media($desktop) {
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					@include transform(translateY(-50%));								
				}

				
					
			}
		
			&:nth-child(even) {
				
				margin-left: 50%;

				@include media($mobile) {
					margin-left: 0px;
				}			
				
				p {
					
					left: 100px;
					right: 0;

					@include media($mobile) {
						right: auto;
						left: auto;
					}

				}


				.year {
					left: -50px;

					@include media($mobile) {
						left: auto;
					}
				}				
				
			}
			
			&:nth-child(odd) {
				
				text-align: right;

				@include media($mobile) {
					text-align: left;
				}

				p {
					right: 100px;
					left: 0;
					
					@include media($mobile) {
						right: auto;
						left: auto;
					}
					
				}

				.year {
					right: -50px;

					@include media($mobile) {
						right: auto;
						left: auto;
					}

				}				

				
			}
		
		}
		
		
		
	}
	
	#news {
		
		padding: 100px;
		
		@include media($mobile) {
			padding: 100px 0;
		}
		
		h2 {
			font-size: em(30);
			margin-bottom: 1em;
		}
		
		.news-item {
					
			margin-bottom: 3em;
										
			h3 {
				font-size: em(20);
				margin: 0 0 0.5em;
				color: $blue;	
			}
			
			p.date {
				color: $gray;
			}
	
			
		}
		
	}
	
}


#fixedmenu {
	
	@include linear-gradient(270deg, darken($blue,12%), darken($blue,10%));
	
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15.625em;
	z-index: 10000000;
	
	right: -15.625em;
	
	.inside {
		
		overflow-y: scroll;
		padding: 40px 0;
		
		ul {
						
			li {
				
				a.link {
					font-size: em(16);
					line-height: 1em;
					display: block;
					padding: 10px 20px;
					color: $light-cyan;
					&:hover {
						color: lighten($light-cyan,20%);
					}				
				}
				
				&.active {
					.link {
						color: #fff;
					}
				}
				
				a.button {
					
					border: 1px solid darken($dark-blue,10%);
					
				}
				
			}
			
			&.buttons {
				padding: 10px 0;
				li {
					padding: 10px 20px;
					a {
						width: 100%;
						text-align: center;
					}
				}
			}
			
		}
			
	}
	
}

// Cennik mobilny

#mobile-pricelist {
	
	background: white;
	padding-bottom: 20px;
	
	.text {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.signup-first {
		padding: 0;
	}
	
	.options {
	
		height: 180px;
				
		h3 {
			font-size: em(20);
			text-align: center;
			margin: 1.5em 0 1em;
			
			
			
		}
		
		.option {
			
			float: left;
			width: 23%;
			height: 80px;
			text-align: center;
			border: 2px solid transparent;
			cursor: pointer;
			margin: 0 1% 4px;
			padding-top: 10px;
			
			
			&:hover {
				border-color: #ccc;
			}
						
			&.active {
				border-color: $cyan;
			}
			
			label {
		
				font-size: em(14);
				
				input {
					display: none;
				}
				
				big {
					display: block;
					font-size: 2em;
					line-height: 1.1em;
				}
				
			}
		}	
	
	}

	.package-header {
		
		width: 100%;
		margin: 20px 0 0;
		clear: both;
		@include clearfix();

		&.pakiet-podstawowy {
			background: #0991ba;
		}
		&.pakiet-pelny {
			background: #0b81b0;
		}
		&.pakiet-all-inclusive {
			background: #1070a1;
			em.grosze {
				display: none;
			}
		}
					
		.header-name {
			
			z-index: 1000000;
			position: relative;
			padding: 20px;
			text-transform: uppercase;
			text-align: center;
			font-size: em(18);
			line-height: 1.2em;
			font-weight: 600;
			color: #fff

		}
		
		span {
			display: block;
		}
		
		.monthly {
			text-align: center;
			position: relative;
			top: -10px;
			color: #fff;
		}
		
		.price {
			text-align: center;
			font-size: em(52);
			line-height: 1.2em;
			height: 70px;
			font-weight: 600;
			letter-spacing: -2px;
			position: relative;
			color: #fff;
			

			em.zlote {
				font-style: normal;
			}
			
			em.grosze {
				font-style: normal;
				font-size: 0.6em;
				letter-spacing: 0px;
				position: relative;
				left: 3px;
				top: -10px;
				opacity: 0.5;
			}
			
			em.from {
				font-size: 0.45em;
				font-style: normal;
				margin-right: 4px;
				font-weight: 500;
				letter-spacing: 0px;
				opacity: 0.5;
			}
			
		}
		
	}
	
	.package-details {
		margin-bottom: 40px;
	}
	
	table {
		
		margin: 0;
		
		td {
			padding: 0;
			height: 40px;
			line-height: 40px;
			border-bottom: none;					
			padding-left: 20px;
			
			
			em.tooltip {
				display: inline-block;
				content: "";
				background: #aaa;
				border-radius: 20px;
				height: 20px;
				padding: 0 10px;
				vertical-align: middle;
				margin-left: 1ex;	
				text-transform: uppercase;
				font-style: normal;
				font-size: em(11);
				font-weight: 600;
				line-height: 20px;
				color: #fff;
				cursor: pointer;
				&:hover {
					background: #999
				}
			}
		
			em.trzy-miesiace-gratis {
				color: $cyan;
				font-weight: 600;
				font-style: normal;
				display: block;
				text-align: center;
				margin-left: -10px;
			}
			
		}
		
		tr:nth-child(even) td {
			background: #eee;
		}


		
	}

}

.extra-packages {
	
	padding: 30px 20px 80px;
	
	h3 {
		font-size: em(24);
		margin-top: 0;
		margin-bottom: 1.25em;
		color: $blue;
	}
	
}

