fieldset {
  border: 0;
  background: none !important;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

button, .button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #0098b5;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none; }

.container {
  display: block;
  max-width: 73.125em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.gray-form-container {
  background: #a4aaaf;
  padding: 55px 0; }
  .gray-form-container .form form {
    display: block; }
    .gray-form-container .form form:after {
      content: "";
      display: table;
      clear: both; }
    .gray-form-container .form form:after {
      content: "";
      display: table;
      clear: both; }
    .gray-form-container .form form h2 {
      color: #fff;
      margin-bottom: 10px;
      font-size: 2em;
      letter-spacing: -1px; }
    .gray-form-container .form form fieldset {
      float: left;
      padding: 16px 0 12px;
      margin: 0;
      display: block; }
      .gray-form-container .form form fieldset.full-width {
        float: left;
        display: block;
        margin-right: 3.44828%;
        width: 100%;
        margin-right: 0; }
        .gray-form-container .form form fieldset.full-width:last-child {
          margin-right: 0; }
      .gray-form-container .form form fieldset.half-width {
        float: left;
        display: block;
        margin-right: 3.44828%;
        width: 48.27586%; }
        .gray-form-container .form form fieldset.half-width:last-child {
          margin-right: 0; }
      .gray-form-container .form form fieldset.third-width {
        float: left;
        display: block;
        margin-right: 3.44828%;
        width: 31.03448%; }
        .gray-form-container .form form fieldset.third-width:last-child {
          margin-right: 0; }
      .gray-form-container .form form fieldset.tiny-width {
        float: left;
        display: block;
        margin-right: 3.44828%;
        width: 13.7931%; }
        .gray-form-container .form form fieldset.tiny-width:last-child {
          margin-right: 0; }
      .gray-form-container .form form fieldset.no-margin {
        margin-right: 0; }
      .gray-form-container .form form fieldset.text label {
        font-size: 1em;
        margin-bottom: 10px; }
      .gray-form-container .form form fieldset.checkboxes:after {
        content: "";
        display: table;
        clear: both; }
      .gray-form-container .form form fieldset.checkboxes > label {
        display: block; }
      .gray-form-container .form form fieldset.checkboxes .checkbox {
        white-space: nowrap;
        display: inline-block;
        margin-right: 2em;
        margin-bottom: 1ex; }
        .gray-form-container .form form fieldset.checkboxes .checkbox input {
          display: inline; }
        .gray-form-container .form form fieldset.checkboxes .checkbox label {
          display: inline; }
  .gray-form-container .form.login-form {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 65.81197%;
    margin-left: 17.09402%; }
    .gray-form-container .form.login-form:last-child {
      margin-right: 0; }
    .gray-form-container .form.login-form .submit {
      width: 100%; }
      .gray-form-container .form.login-form .submit:after {
        content: "";
        display: table;
        clear: both; }
      .gray-form-container .form.login-form .submit .remind {
        display: block;
        padding-top: 1em;
        font-weight: 600;
        text-decoration: underline;
        float: left;
        color: #3a70a7;
        text-decoration: underline; }
      .gray-form-container .form.login-form .submit .button {
        float: right; }
  .gray-form-container .form.register-form {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 61.53846%; }
    .gray-form-container .form.register-form:last-child {
      margin-right: 0; }
    .gray-form-container .form.register-form .description {
      float: left;
      display: block;
      margin-right: 3.44828%;
      width: 100%;
      padding: 15px 0; }
      .gray-form-container .form.register-form .description:last-child {
        margin-right: 0; }
    .gray-form-container .form.register-form .submit {
      width: 100%; }
      .gray-form-container .form.register-form .submit:after {
        content: "";
        display: table;
        clear: both; }
      .gray-form-container .form.register-form .submit .agree {
        display: block;
        padding-top: 10px;
        float: left; }
        .gray-form-container .form.register-form .submit .agree input {
          display: inline; }
        .gray-form-container .form.register-form .submit .agree label {
          display: inline; }
          .gray-form-container .form.register-form .submit .agree label a {
            color: #3a70a7;
            text-decoration: underline; }
      .gray-form-container .form.register-form .submit .button {
        float: right; }
  .gray-form-container .form#advanced {
    height: 100px;
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%; }
    .gray-form-container .form#advanced:last-child {
      margin-right: 0; }
    .gray-form-container .form#advanced fieldset {
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 23.07692%; }
      .gray-form-container .form#advanced fieldset:last-child {
        margin-right: 0; }
      .gray-form-container .form#advanced fieldset.checkboxes {
        margin: 0; }
        .gray-form-container .form#advanced fieldset.checkboxes span {
          display: block;
          padding: 4px 0;
          margin: 0; }
          .gray-form-container .form#advanced fieldset.checkboxes span label {
            font-size: 14px;
            display: inline-block;
            margin: 0; }
        .gray-form-container .form#advanced fieldset.checkboxes.checkboxes-1 {
          float: left;
          display: block;
          margin-right: 2.5641%;
          width: 18.80342%;
          width: 220px;
          padding-left: 25px;
          border-left: 2px solid rgba(0, 0, 0, 0.2); }
          .gray-form-container .form#advanced fieldset.checkboxes.checkboxes-1:last-child {
            margin-right: 0; }
        .gray-form-container .form#advanced fieldset.checkboxes.checkboxes-2 {
          float: left;
          display: block;
          margin-right: 2.5641%;
          width: 14.52991%;
          width: 110px;
          margin: 0; }
          .gray-form-container .form#advanced fieldset.checkboxes.checkboxes-2:last-child {
            margin-right: 0; }
      .gray-form-container .form#advanced fieldset.submit {
        width: 100px;
        padding: 0;
        text-align: right;
        float: right; }
        .gray-form-container .form#advanced fieldset.submit .button {
          margin-top: 35px; }
  .gray-form-container.contact-form-container {
    margin: 50px -30px -30px;
    padding: 30px; }


/* MODAL */
.modal {
  width: 600px;
  background: #fff;
  padding: 0;
  left: 38% !important;
  top: 30% !important;
  margin: 0 !important;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }

.modal .gray-form-container {
    margin: 0;
    border-radius: 5px; }

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../img/close.png) no-repeat 0 0; }

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }


.new-button {
	margin-left: 25px;
}

