@charset "UTF-8";
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
body {
     -webkit-font-smoothing: antialiased;
     background-color: white;
     color: #333;
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     font-size: 1em;
     line-height: 1.5; 
     }
     

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     line-height: 1.25;
     margin: 0;
     text-rendering: optimizeLegibility; }

h1 {
     font-size: 2.25em; }

h2 {
     font-size: 2em; }

h3 {
     font-size: 1.75em; }

h4 {
     font-size: 1.5em; }

h5 {
     font-size: 1.25em; }

h6 {
     font-size: 1em; }

p {
     margin: 0 0 0.75em; }

a {
     -webkit-transition: color 0.1s linear;
     -moz-transition: color 0.1s linear;
     transition: color 0.1s linear;
     color: #477DCA;
     text-decoration: none; }
a:hover {
     color: #2c5999; }
a:active, a:focus {
     color: #2c5999;
     outline: none; }

hr {
     border-bottom: 1px solid #DDD;
     border-left: none;
     border-right: none;
     border-top: none;
     margin: 1.5em 0; }

img,
picture {
     margin: 0;
     max-width: 100%; }

blockquote {
     border-left: 2px solid #DDD;
     color: #595959;
     margin: 1.5em 0;
     padding-left: 0.75em; }

cite {
     color: #737373;
     font-style: italic; }
cite:before {
     content: "\2014 \00A0"; }

fieldset {
     background: #f7f7f7;
     border: 1px solid #DDD;
     margin: 0 0 0.75em 0;
     padding: 1.5em; }

input,
label,
select {
     display: block;
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     font-size: 1em; }

label {
     font-weight: bold;
     margin-bottom: 0.375em; }
label.required:after {
     content: "*"; }
label abbr {
     display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: border-color;
     -moz-transition: border-color;
     transition: border-color;
     background-color: white;
     border-radius: 3px;
     border: 1px solid #DDD;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     font-size: 1em;
     margin-bottom: 0.75em;
     padding: 0.5em 0.5em;
     width: 100%; }
     
     
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
     border-color: #c4c4c4; }
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
     border-color: #477DCA;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
     outline: none; }

textarea {
     resize: vertical; }

input[type="search"] {
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     -o-appearance: none;
     appearance: none; }

input[type="checkbox"],
input[type="radio"] {
     display: inline;
     margin-right: 0.375em; }

input[type="file"] {
     padding-bottom: 0.75em;
     width: 100%; }

select {
     margin-bottom: 1.5em;
     max-width: 100%;
     width: auto; }

table {
     border-collapse: collapse;
     margin: 0.75em 0;
     table-layout: fixed;
     width: 100%; }

th {
     border-bottom: 1px solid #b7b7b7;
     font-weight: bold;
     padding: 0.75em 0;
     text-align: left; }

td {
     border-bottom: 1px solid #DDD;
     padding: 0.75em 0; }

tr,
td,
th {
     vertical-align: middle; }

ul,
ol {
     margin: 0;
     padding: 0;
     list-style-type: none; }
dl {
     margin-bottom: 0.75em; }
dl dt {
     font-weight: bold;
     margin-top: 0.75em; }
dl dd {
     margin: 0; }

/*

@mixin true-button($button-size, $font-size, $color) {
        
        font-size: em($font-size);
        font-weight: 600;
        text-decoration: none !important;
        color: #fff;

        height: $button-size;
        padding: 0;

        @include transition(all 0.2s);
        background-color: $color;
        position: relative;

        @if strip-units($button-size) < 70 {
                border-radius: 4px;	
        } @else {
                border-radius: 5px;			
        }	
        
        > span {

                text-decoration: none !important;
                @include transition(all 0.2s);
                width: 100%;
                height: 100%;		
                display: block;
                padding: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                @include radial-gradient(ellipse farthest-corner at center top, lighten($color,20%), $color);
//		box-shadow: inset 0 2px 0 lighten($color,25%);
                opacity: 0.25;

                @if strip-units($button-size) < 70 {
                        border-radius: 4px;	
                } @else {
                        border-radius: 5px;			
                }
                
                

        }
        
        > label {
                padding: 0px $button-size/2;
                width: 100%;
                height: 100%;
                display: block;
                margin: 0;			
                line-height: $button-size;
                position: relative;
                cursor: pointer;
        }
        
  &:hover {
    color: white;
                @include transition(all 0.2s);
                background-color: $color;
                span {
                        @include transition(all 0.2s);
                        opacity: 0.7;
                }
  } 

        &:active {
                @include transition(all 0.2s);
        }
  
                
}
*/
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012–2014 thoughtbot, inc.
 * MIT License */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box; }

*, *:before, *:after {
     -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
     box-sizing: inherit; }

/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 *
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number} $local-max-width ($max-width) - Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss
 *  .element {
 *    @include outer-container(100%);
 *  }
 *
 * @example css
 *  .element {
 *    *zoom: 1;
 *    max-width: 100%;
 *    margin-left: auto;
 *    margin-right: auto;
 *  }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
body {
     color: #3e464c;
     margin: 0;
     padding: 0; }

@media screen and (min-width: 64em) and (max-width: 75em) {
     .hide-on-mobile {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     .hide-on-mobile {
          display: none; } }
@media screen and (max-width: 43.75em) {
     .hide-on-mobile {
          display: none; } }

.show-on-phone {
     display: none !important; }
@media screen and (max-width: 43.75em) {
     .show-on-phone {
          display: block !important; } }

@media screen and (max-width: 43.75em) {
     .hide-on-phone {
          display: none !important; } }

.hide {
     display: none; }

@media screen and (min-width: 75em) {
     .show-on-desktop {
          display: block; } }

@media screen and (min-width: 64em) and (max-width: 75em) {
     .show-on-tablet {
          display: block; } }

@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     .show-on-portrait {
          display: block; } }

figure {
     margin: 0; }

.row {
     display: block; }
.row:after {
     content: "";
     display: table;
     clear: both; }

.button {
     position: relative;
     display: inline-block;
     cursor: pointer; }
.button > span {
     position: absolute;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all;
     cursor: pointer;
     display: block; }
.button > label {
     position: relative;
     display: block;
     font-weight: 500;
     background: transparent;
     margin: 0;
     cursor: pointer;
     text-align: center; }

.small.button,
button.small {
     border-radius: 3px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.small.button > label,
button.small > label {
     height: 32px;
     padding: 9px 18px;
     font-size: 1em !important;
     font-weight: 500;
     line-height: 1.1em !important; }

.medium.button,
button.medium {
     border-radius: 4px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.medium.button > label,
button.medium > label {
     padding: 12px 21px;
     font-size: 16px !important;
     font-weight: 500;
     line-height: 1.1em !important; }

.big.button,
button.big {
     border-radius: 5px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.big.button > label,
button.big > label {
     padding: 15px 20px;
     font-size: 20px !important;
     font-weight: 500;
     line-height: 1.1em !important; }

.blue.button {
     background-color: #004571;
     background-image: -webkit-linear-gradient(#004571, #00395f);
     background-image: linear-gradient(#004571, #00395f);
     border: none; }
.blue.button > span {
     background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #006aae, rgba(0, 69, 113, 0));
     background-image: radial-gradient( ellipse farthest-corner at center top, #006aae, rgba(0, 69, 113, 0)); }
.blue.button > label {
     color: #fff; }
.blue.button:hover > span {
     opacity: 1;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }

.darkblue.button {
     background-color: #004571;
     background-image: -webkit-linear-gradient(#004571, #00395f);
     background-image: linear-gradient(#004571, #00395f);
     border: none; }
.darkblue.button > span {
     background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #006aae, rgba(0, 69, 113, 0));
     background-image: radial-gradient( ellipse farthest-corner at center top, #006aae, rgba(0, 69, 113, 0)); }
.darkblue.button > label {
     color: #fff; }
.darkblue.button:hover > span {
     opacity: 1;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }

.green.button {
     background-color: #7bb025;
     background-image: -webkit-linear-gradient(#7bb025, #5d861d);
     background-image: linear-gradient(#7bb025, #5d861d);
     border: none; }
.green.button > span {
     background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #a1d84a, rgba(108, 155, 33, 0));
     background-image: radial-gradient( ellipse farthest-corner at center top, #a1d84a, rgba(108, 155, 33, 0)); }
.green.button > label {
     color: #fff; }
.green.button:hover > span {
     opacity: 1;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }

.signup-first {
     padding: 30px 0;
     text-align: center; }
.signup-first-2 {
     padding: 30px;
     text-align: left; }
.signup-first .button {
     box-shadow: none;
     border: 1px solid #5d861d;
     border-radius: 5px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.signup-first .button > label {
     padding: 15px 20px;
     font-size: 22px !important;
     font-weight: 500;
     line-height: 1em !important; }

@media screen and (min-width: 75em) {
     .container {
          max-width: 1160px;
          margin-left: auto;
          
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     .container {
          max-width: 980px;
          margin-left: auto;
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     .container {
          max-width: 680px;
          margin-left: auto;
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }
@media screen and (max-width: 43.75em) {
     .container {
          max-width: 90%;
          margin-left: auto;
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }

.inside {
     position: relative;
     height: 100%;
     width: 100%; }

h2 {
     color: #004571; }

.row {
     display: block; }
.row:after {
     content: "";
     display: table;
     clear: both; }

header {
     height: 150px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header {
          height: 105px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header {
          height: 105px; } }
@media screen and (max-width: 43.75em) {
     header {
          height: 105px; } }
header .dark {
     background-color: #00395f;
     background-image: -webkit-linear-gradient(#00395f, #004571);
     background-image: linear-gradient(#00395f, #004571); }
header .dark .container .inside {
     height: 100px; }
header .dark .container .inside #logo {
     position: absolute;
     left: 0;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%); }
header .dark .container .inside #logo img {
     display: block;
     width: 320px; }
@media screen and (max-width: 43.75em) {
     header .dark .container .inside #logo img {
          width: 240px;
          top: 55%; } }
header .dark .container .inside ul {
     position: absolute;
     right: 0;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%); }
header .dark .container .inside ul li {
     float: left;
     vertical-align: middle;
     margin-left: 1ex; }
header .dark .container .inside ul li a.link {
     font-size: 1.125em;
     display: block;
     padding: 10px 10px;
     color: #72c7df; }
header .dark .container .inside ul li a.link:hover {
     color: #c5e8f2; }
header .dark .container .inside ul li.active .link {
     color: #fff; }
header .dark .container .inside ul li a.button {
     border: 1px solid #003050; }
header .dark .container .inside ul li a.button.login {
     margin-left: 30px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .dark .container .inside ul {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .dark .container .inside ul {
          display: none; } }
@media screen and (max-width: 43.75em) {
     header .dark .container .inside ul {
          display: none; } }
header .dark .container .inside #fixedmenulink {
     height: 36px;
     position: absolute;
     right: 20px;
     top: 50%;
     z-index: 100000; }
header .dark .container .inside #fixedmenulink label {
     background: url(../img/menu.svg) no-repeat center center;
     background-size: 80%;
     height: 36px; }
@media screen and (min-width: 75em) {
     header .dark .container .inside #fixedmenulink {
          display: none;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .dark .container .inside #fixedmenulink {
          display: block;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .dark .container .inside #fixedmenulink {
          display: block;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (max-width: 43.75em) {
     header .dark .container .inside #fixedmenulink {
          display: block;
          position: fixed;
          top: 30px;
          right: 30px; } }
header .light {
     background: #01a4d2; }
header .light .container .inside {
     height: 50px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .light .container .inside {
          height: 5px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .light .container .inside {
          height: 5px; } }
@media screen and (max-width: 43.75em) {
     header .light .container .inside {
          height: 5px; } }
header .light .container .inside ul li {
     float: left;
     line-height: 50px;
     color: #fff; }
header .light .container .inside ul li a.link {
     display: block;
     padding: 0 20px;
     font-size: 1.125em;
     color: #fff;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
header .light .container .inside ul li:hover a {
     background-color: rgba(114, 199, 223, 0.5); }
header .light .container .inside ul li a.home {
     display: block;
     width: 65px;
     background-image: url(../img/iconHome.svg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 30px auto;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
header .light .container .inside ul li.active a.link {
     background: #fff;
     color: #01a4d2;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
header .light .container .inside ul li.active a.home {
     background-color: #fff;
     background-image: url(../img/iconHomeActive.svg); }
header .light .container .inside ul li.right {
     float: right; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .light .container .inside ul {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .light .container .inside ul {
          display: none; } }
@media screen and (max-width: 43.75em) {
     header .light .container .inside ul {
          display: none; } }

#main {
     min-height: 500px; }

body.home #main {
     min-height: 600px;
     background: url(../img/home.jpg) no-repeat center -50px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     body.home #main {
          min-height: 700px;
          background-position: center bottom;
          background-size: 1500px auto; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     body.home #main {
          min-height: 900px;
          background-position: -700px bottom; } }
@media screen and (max-width: 43.75em) {
     body.home #main {
          padding-bottom: 400px;
          background: url(../img/home.jpg) no-repeat right bottom;
          background-size: 900px auto; } }
body.home .lead {
     position: relative;
     top: 80px; }
body.home .lead h1 {
     font-size: 3em;
     line-height: 1.1em;
     margin-bottom: 30px;
     color: #01a4d2; }
@media screen and (max-width: 43.75em) {
     body.home .lead h1 {
          font-size: 2.25em; } }
body.home .lead p {
     font-size: 1.375em;
     line-height: 1.3em;
     margin-bottom: 20px; }
body.home .lead .button {
     box-shadow: none;
     border: 1px solid #5d861d; }

#cennik h1 {
     text-align: center;
     font-size: 3em;
     line-height: 1em;
     font-weight: 600;
     color: #01a4d2;
     margin: 80px 0 50px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #cennik h1 {
          font-size: 2.5em; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #cennik h1 {
          font-size: 2.5em; } }
@media screen and (max-width: 43.75em) {
     #cennik h1 {
          font-size: 2.25em; } }
#cennik p {
     font-size: 1.25em;
     text-align: left; }
#cennik .signup-first {
     padding: 0 0 50px; }
@media screen and (max-width: 43.75em) {
     #cennik .signup-first {
          padding-bottom: 0px; } }

#pricelist {
     background: white;
     padding-bottom: 20px; }
#pricelist .text {
     position: absolute;
     top: 0;
     left: 0; }
#pricelist .options {
     width: 500px;
     float: left;
     padding: 0 50px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #pricelist .options {
          width: 380px;
          padding: 0 20px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist .options {
          width: 200px;
          padding: 0 10px; } }
#pricelist .options h3 {
     font-size: 1.25em;
     text-align: center;
     margin: 1.5em 0 1em; }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist .options h3 {
          font-size: 1.125em;
          margin-top: -10px; } }
#pricelist .options .option {
     float: left;
     width: 23%;
     height: 100px;
     text-align: center;
     border: 2px solid transparent;
     cursor:pointer;
     margin: 0 1% 4px;
     padding-top: 10px;
     -webkit-box-shadow: 0px 0px 21px -1px  rgba(0,0,0,0.53);
     -moz-box-shadow: 0px 0px 21px -1px  rgba(0,0,0,0.53);
     box-shadow: 0px 0px 21px -1px  rgba(0,0,0,0.53);
}
#pricelist .options .option *{
     cursor:pointer;
}
#pricelist .options .option.active{
     border:2px solid #01a4d2;
     -webkit-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 1);
     -moz-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 1);
     box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 1);
}
#pricelist .options .option:hover{
     border:2px solid transparent;
     -webkit-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 0.9);
     -moz-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 0.9);
     box-shadow: 0px 0px 21px -1px rgba(16, 112, 161, 0.9);
}
.center{
     text-align:center;
}
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist .options .option {
          width: 48%; } }
#pricelist .options .option:hover {
     border-color: transparent; }
#pricelist .options .option.active {
     border-color: #01a4d2; }
#pricelist .options .option.active em {
     color: #01a4d2; }
#pricelist .options .option label {
     font-size: 0.875em; }
#pricelist .options .option label input {
     display: none; }
#pricelist .options .option label big {
     display: block;
     font-size: 2em;
     line-height: 1.1em; }
#pricelist .options .option label em {
     color: #c1c4c5;
     display: block;
     font-style: normal;
     font-size: 0.8125em;
     font-weight: bold;
     margin-top: 5px; }
#pricelist #table-header {
     float: right;
     width: 660px;
     margin: 0 0 20px auto;
     color: #fff; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #pricelist #table-header {
          width: 600px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist #table-header {
          width: 450px; } }
#pricelist #table-header ul {
     width: 100%;
     margin: 0; }
#pricelist #table-header ul:after {
     content: "";
     display: table;
     clear: both; }
#pricelist #table-header ul li {
     float: left;
     width: 220px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #pricelist #table-header ul li {
          width: 200px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist #table-header ul li {
          width: 150px; } }
#pricelist #table-header ul li.pakiet-podstawowy {
     background: #0991ba; }
#pricelist #table-header ul li.pakiet-pelny {
     background: #0b81b0; }
#pricelist #table-header ul li.pakiet-all-inclusive {
     background: #1070a1; }

#pricelist #table-header #header-names {
     z-index: 1000000;
     position: relative; }
#pricelist #table-header #header-names li {
     z-index: 1000000;
     position: relative;
     padding: 20px;
     text-transform: uppercase;
     text-align: center;
     font-size: 1em;
     line-height: 1.2em;
     font-weight: 600; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #pricelist #table-header #header-names li {
          height: 100px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist #table-header #header-names li {
          font-size: 0.875em;
          height: 80px;
          padding-bottom: 0; } }
#pricelist #table-header #header-prices li {
     padding: 0 0 20px; }
#pricelist #table-header #header-prices span {
     display: block; }
#pricelist #table-header #header-prices .monthly {
     text-align: center;
     position: relative;
     top: -10px; }
#pricelist #table-header #header-prices .price {
     text-align: center;
     font-size: 3.25em;
     line-height: 1.2em;
     height: 70px;
     font-weight: 600;
     letter-spacing: -2px;
     position: relative; }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist #table-header #header-prices .price {
          font-size: 3em; } }
#pricelist #table-header #header-prices .price em.zlote {
     font-style: normal; }
#pricelist #table-header #header-prices .price em.grosze {
     font-style: normal;
     /*font-size: 0.6em;*/
     /*letter-spacing: 0px;*/
     /*position: relative;*/
     /*left: 3px;*/
     /*top: -10px;*/
     /*opacity: 0.5;*/
}
#pricelist #table-header #header-prices .price em.from {
     font-size: 0.45em;
     font-style: normal;
     margin-right: 4px;
     font-weight: 500;
     letter-spacing: 0px;
     opacity: 0.5; }
#pricelist table {
     clear: both;
     margin: 0; }

#pricelist table td {
     padding: 0;
     height: 40px;
     line-height: 40px;
     border-bottom: none; }
#pricelist table td:first-child {
     padding-left: 20px; }
#pricelist table td:first-child em {
     display: inline-block;
     content: "";
     background: #aaa;
     border-radius: 20px;
     height: 20px;
     padding: 0 10px;
     vertical-align: middle;
     margin-left: 1ex;
     text-transform: uppercase;
     font-style: normal;
     font-size: 0.6875em;
     font-weight: 600;
     line-height: 20px;
     color: #fff;
     cursor: pointer; }
#pricelist table td:first-child em:hover {
     background: #999; }
#pricelist table td:not(:first-child) {
     width: 220px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #pricelist table td:not(:first-child) {
          width: 200px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist table td:not(:first-child) {
          width: 150px; } }
#pricelist table td:not(:first-child) em.yes {
     height: 40px;
     width: 220px;
     display: block;
     overflow: hidden;
     text-indent: -1000000px;
     background: url(../img/tick.svg) no-repeat center center;
     background-size: auto 24px; }
     
.new {
    display: inline-block;
     content: "";
     background: #96DE21;
     border-radius: 20px;
     height: 20px;
     padding: 0 10px;
     vertical-align: middle;
     margin-left: 1ex;
     text-transform: uppercase;
     font-style: normal;
     font-size: 0.6875em;
     font-weight: 600;
     line-height: 20px;
     color: #fff;
  }
     
     
@media screen and (min-width: 64em) and (max-width: 75em) {
     #pricelist table td:not(:first-child) em.yes {
          width: 200px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #pricelist table td:not(:first-child) em.yes {
          width: 150px; } }
#pricelist table td:not(:first-child) em.opcja {
     display: block;
     line-height: 40px;
     text-align: center;
     text-decoration: underline;
     font-style: normal;
     cursor: pointer; }
#pricelist table td:not(:first-child) em.opis {
     display: block;
     line-height: 40px;
     text-align: center;
     font-style: normal; }
#pricelist table tr:nth-child(even) {
     background: rgba(193, 196, 197, 0.1); }
#pricelist table td:nth-child(3) {
     background: rgba(193, 196, 197, 0.1); }
#pricelist table tr.trzy-gratis td {
     background: #fff;
     text-align: center;
     line-height: 1em; }
#pricelist table tr.trzy-gratis td em {
     font-style: normal;
     color: #01a4d2;
     font-weight: 600;
     position: relative;
     text-transform: uppercase;
     top: -5px; }

#formularz {
     background: #edeff2;
     padding-top: 80px;
     padding-bottom: 80px; }
#formularz h1 {
     text-align: center;
     font-size: 3em;
     line-height: 1em;
     font-weight: 600;
     color: #01a4d2;
     margin: 0 0 1em; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #formularz h1 {
          font-size: 2.5em; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #formularz h1 {
          font-size: 2.5em; } }
@media screen and (max-width: 43.75em) {
     #formularz h1 {
          font-size: 2.25em; } }
#formularz p {
     font-size: 1em; }
#formularz ul {
     font-size: 1em; }
#formularz form {
     padding: 20px 0 0;
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 40.6779661017%;
     margin-left: 12.7118644068%; }
#formularz form:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     #formularz form {
          width: 100%;
          margin-left: 0%; } }
#formularz form .select {
     display: block; }
#formularz form .select:after {
     content: "";
     display: table;
     clear: both; }
#formularz form .select label {
     float: left;
     display: block;
     margin-right: 3.4482758621%;
     width: 31.0344827586%;
     line-height: 20px; }
#formularz form .select label:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     #formularz form .select label {
          width: 100%;
          line-height: 30px; } }
#formularz form .select select {
     float: left;
     display: block;
     margin-right: 3.4482758621%;
     width: 65.5172413793%; }
#formularz form .select select:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     #formularz form .select select {
          width: 100%; } }
#formularz form .input {
     display: block; }
#formularz form .input:after {
     content: "";
     display: table;
     clear: both; }
#formularz form .input label {
     float: left;
     display: block;
     margin-right: 3.4482758621%;
     width: 31.0344827586%;
     line-height: 40px; }
#formularz form .input label:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     #formularz form .input label {
          width: 100%;
          line-height: 30px; } }
#formularz form .input input {
     float: left;
     display: block;
     margin-right: 3.4482758621%;
     width: 65.5172413793%; }
#formularz form .input input:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     #formularz form .input input {
          width: 100%; } }
#formularz form textarea {
     height: 140px; }
#formularz .text {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 32.2033898305%;
     margin-left: 4.2372881356%;
     padding: 40px 0 0; }
#formularz .text:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     #formularz .text {
          display: none; } }
#formularz .text ul {
     margin-bottom: 1em; }
#formularz .text ul li {
     position: relative;
     padding: 2px 2px 2px 30px; }
#formularz .text ul li:before {
     content: "";
     position: absolute;
     left: 14px;
     top: 14px;
     background: #01a4d2;
     width: 4px;
     height: 4px; }

#address {
     padding: 100px 0; }
@media screen and (max-width: 43.75em) {
     #address {
          padding: 50px 0; } }
#address .column {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 32.2033898305%; }
#address .column:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     #address .column {
          width: 100%;
          margin-bottom: 30px; } }
#address .column h3 {
     font-size: 1.25em;
     color: #004571;
     margin-bottom: 1ex; }

#map {
     height: 450px; }

#footnote {
     padding: 50px 0; }
#footnote p.small {
     margin: 0;
     color: #666;
     font-size: 0.875em; }

#intro {
     text-align: center; }
@media screen and (min-width: 75em) {
     #intro {
          padding-top: 80px; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #intro {
          padding-top: 40px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #intro {
          padding-top: 40px; } }
@media screen and (max-width: 43.75em) {
     #intro {
          padding-top: 40px; } }
#intro h1 {
     font-size: 3em;
     line-height: 1em;
     font-weight: 600;
     color: #01a4d2;
     margin: 0 0 1em; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #intro h1 {
          font-size: 2.5em; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #intro h1 {
          font-size: 2.5em; } }
@media screen and (max-width: 43.75em) {
     #intro h1 {
          font-size: 2.25em; } }
#intro p {
     font-size: 1.25em; }
@media screen and (max-width: 43.75em) {
     #intro p {
          font-size: 1.125em;
          line-height: 1.3em; } }

#laptop {
     height: 600px;
     background: url(../img/laptop.svg) no-repeat bottom center;
     position: relative; }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #laptop {
          height: auto;
          background: none;
          padding: 40px; } }
@media screen and (max-width: 43.75em) {
     #laptop {
          height: auto;
          background: none;
          padding: 40px; } }
@media screen and (min-width: 75em) {
     #laptop #desktop {
          width: 720px;
          height: 450px;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 86px;
          background: #004571; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #laptop #desktop {
          width: 720px;
          height: 450px;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 86px;
          background: #004571; } }
#laptop a {
     position: relative;
     display: block; }
@media screen and (min-width: 75em) {
     #laptop a {
          position: absolute;
          margin: 0;
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
          content: "";
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          background-size: cover !important;
          background-position: center top !important;
          cursor: pointer;
          overflow: hidden; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #laptop a {
          position: absolute;
          margin: 0;
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
          content: "";
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          background-size: cover !important;
          background-position: center top !important;
          cursor: pointer;
          overflow: hidden; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #laptop a {
          position: relative;
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
          width: 500px;
          height: 330px;
          margin: 20px auto; } }
@media screen and (max-width: 43.75em) {
     #laptop a {
          margin: 10px 0; } }
#laptop a span {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }
#laptop a span.zoom1 {
     opacity: 0.5;
     background: url(../img/zoom1.svg) no-repeat center center;
     background-size: 110%; }
#laptop a span.zoom2 {
     opacity: 0;
     background: url(../img/zoom2.svg) no-repeat center center;
     background-size: 110%; }
#laptop a:hover span {
     opacity: 0.5;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }
#laptop a:hover span.zoom1 {
     opacity: 0; }
#laptop a:hover span.zoom2 {
     opacity: 0.5; }
#laptop #front-screen {
     -webkit-transition: 0.25s all;
     -moz-transition: 0.25s all;
     transition: 0.25s all; }
@media screen and (min-width: 75em) {
     #laptop #front-screen {
          left: 40px;
          width: 550px;
          height: 360px;
          background: #666;
          z-index: +1; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #laptop #front-screen {
          left: 30px;
          width: 315px;
          height: 210px;
          background: #666;
          z-index: +1; } }
#laptop #second-screen {
     -webkit-transition: 0.25s all;
     -moz-transition: 0.25s all;
     transition: 0.25s all; }
@media screen and (min-width: 75em) {
     #laptop #second-screen {
          right: 40px;
          width: 550px;
          height: 350px;
          background: #555; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #laptop #second-screen {
          right: 30px;
          width: 315px;
          height: 210px;
          background: #555; } }
#laptop #desktop:hover #front-screen {
     -webkit-transition: 0.25s all;
     -moz-transition: 0.25s all;
     transition: 0.25s all; }
@media screen and (min-width: 75em) {
     #laptop #desktop:hover #front-screen {
          left: 30px;
          width: 315px;
          height: 210px;
          background: #666;
          z-index: +1; } }
#laptop #desktop:hover #second-screen {
     -webkit-transition: 0.25s all;
     -moz-transition: 0.25s all;
     transition: 0.25s all; }
@media screen and (min-width: 75em) {
     #laptop #desktop:hover #second-screen {
          right: 30px;
          width: 315px;
          height: 210px;
          background: #555; } }

#features {
     background: #edeff2;
     padding: 100px 0; }
@media screen and (max-width: 43.75em) {
     #features {
          padding: 40px 0; } }
#features .feature {
     padding: 20px 0;
     margin: 0 0px;
     background-size: 50%;
     background-repeat: no-repeat; }
@media screen and (min-width: 75em) {
     #features .feature {
          display: table;
          width: 100%;
          table-layout: fixed; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #features .feature {
          display: table;
          width: 100%;
          table-layout: fixed; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #features .feature {
          display: table;
          width: 100%;
          table-layout: fixed; } }
@media screen and (min-width: 75em) {
     #features .feature figure {
          display: table-cell;
          width: 100%;
          margin: 0;
          vertical-align: middle; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #features .feature figure {
          display: table-cell;
          width: 100%;
          margin: 0;
          vertical-align: middle; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #features .feature figure {
          display: table-cell;
          width: 100%;
          margin: 0;
          vertical-align: middle; } }
@media screen and (max-width: 43.75em) {
     #features .feature figure {
          width: 100%;
          margin-bottom: 0; } }
@media screen and (min-width: 75em) {
     #features .feature .text {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          padding: 0 30px; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #features .feature .text {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          padding: 0 30px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #features .feature .text {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          padding: 0 30px; } }
@media screen and (max-width: 43.75em) {
     #features .feature .text {
          width: 100%;
          padding: 0; } }
#features .feature h2 {
     font-size: 1.5em;
     margin-top: 0;
     margin-bottom: 1.25em;
     color: #004571; }
#features .feature h2 small {
     background: #fff;
     display: inline-block;
     padding: 5px 10px;
     line-height: 1em;
     font-size: 0.7em;
     color: #01a4d2;
     white-space: nowrap;
     margin: 0 0 1ex -1ex; }

#signup {
     background-color: #00395f;
     background-image: -webkit-linear-gradient(#00395f, #004571);
     background-image: linear-gradient(#00395f, #004571);
     text-align: center;
     padding: 30px 0;
     color: #fff; }
#signup p {
     font-size: 1.125em;
     display: inline-block;
     margin: 0; }
#signup a {
     border: 1px solid #003050;
     margin: 0 1em; }
@media screen and (max-width: 43.75em) {
     #signup a {
          margin: 1em 0; } }

#details {
     padding: 100px 0; }
#details h2 {
     font-size: 1.875em;
     text-align: center;
     margin-bottom: 50px; }
#details .column {
     /*
                 
         
                 @include media($tablet) {
                         @include span-columns(12);
                         @include pad(20px);
                 }
         
                 @include media($portrait) {
                         @include span-columns(12);
                         @include pad(20px);
                 }
                 
                 @include media($mobile) {
     //			@include fill-parent();
                 }
     */ }
@media screen and (min-width: 75em) {
     #details .column {
          display: table-cell;
          width: 50%;
          padding: 20px; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #details .column {
          display: table-cell;
          width: 50%;
          padding: 20px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #details .column {
          display: table-cell;
          width: 50%;
          padding: 20px; } }
#details .column li {
     padding: 4px 0 4px 30px;
     position: relative; }
#details .column li:before {
     content: "";
     position: absolute;
     left: 14px;
     top: 14px;
     background: #01a4d2;
     width: 4px;
     height: 4px; }
#details .signup-first {
     padding: 60px 0 0; }

#quotes {
     background: #c1c4c5;
     padding: 40px 0;
     min-height: 200px; }
@media screen and (max-width: 43.75em) {
     #quotes {
          min-height: 300px; } }
#quotes .quotes {
     height: 120px;
     position: relative;
     height: 120px; }
@media screen and (max-width: 43.75em) {
     #quotes .quotes {
          height: 220px; } }
#quotes .quotes .quote {
     display: block;
     width: 100%; }
#quotes .quotes .quote .quote-content {
     display: block;
     text-align: center;
     font-size: 1.25em;
     line-height: 1.25em;
     margin-bottom: 1ex; }
#quotes .quotes .quote .quote-author {
     display: block;
     text-align: center;
     font-size: 1em;
     opacity: 0.5; }
#quotes .quotes .cycle-pager {
     position: absolute;
     bottom: -10px;
     left: 50%;
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
     transform: translateX(-50%); }
#quotes .quotes .cycle-pager span {
     width: 10px;
     height: 10px;
     margin: 4px;
     display: inline-block;
     overflow: hidden;
     text-indent: -10000000px;
     border: 2px solid #fff;
     border-radius: 10px; }
#quotes .quotes .cycle-pager span.cycle-pager-active {
     background: #fff; }

footer .pkobp {
     background: rgba(237, 239, 242, 0.9); }
footer .pkobp .container .inside {
     background: url(../img/pkobp.svg) no-repeat left center;
     background-size: auto 72px;
     height: 120px;
     padding: 0 200px 0 260px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside {
          height: 140px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .pkobp .container .inside {
          height: 240px;
          background-position: left 30px;
          padding-right: 0px;
          padding-top: 35px; } }
@media screen and (max-width: 43.75em) {
     footer .pkobp .container .inside {
          background-position: left 30px;
          height: auto;
          padding: 120px 0 30px; } }
@media screen and (min-width: 75em) {
     footer .pkobp .container .inside .text {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside .text {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
footer .pkobp .container .inside figure {
     margin: 0;
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     left: 0; }
footer .pkobp .container .inside h2 {
     font-size: 1.75em;
     line-height: 1.3em;
     font-weight: 500;
     color: #01a4d2;
     margin: 0; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside h2 {
          font-size: 1.5em; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .pkobp .container .inside h2 {
          line-height: 1.15em;
          margin-bottom: 10px; } }
footer .pkobp .container .inside h3 {
     font-size: 1.125em;
     font-weight: 500; }
footer .pkobp .container .inside h3 span {
     background: #01a4d2;
     color: #fff;
     display: inline-block;
     padding: 0 5px; }
@media screen and (min-width: 75em) {
     footer .pkobp .container .inside .button {
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside .button {
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (max-width: 43.75em) {
     footer .pkobp .container .inside .button {
          margin-top: 20px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .pkobp .container .inside .button {
          margin-top: 20px; } }
footer .dark {
     background: #004571; }
footer .dark .container .inside {
     padding: 30px 0;
     height: 200px;
     color: #fff; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside {
          height: 280px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside {
          height: 280px; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside {
          height: 160px; } }
footer .dark .container .inside .row {
     display: block; }
footer .dark .container .inside .row:after {
     content: "";
     display: table;
     clear: both; }
footer .dark .container .inside .row .text {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 23.7288135593%;
     text-align: right; }
footer .dark .container .inside .row .text:last-child {
     margin-right: 0; }
footer .dark .container .inside .row .text .copy {
     font-size: 1em; }
footer .dark .container .inside .row .text .true {
     font-size: 0.875em;
     color: #001a2c; }
footer .dark .container .inside .row .text .true a {
     color: #001a2c;
     text-decoration: underline; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .row .text {
          text-align: left;
          width: 100%; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .row .text {
          text-align: left;
          width: 100%; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .row .text {
          text-align: left;
          width: 100%; } }
footer .dark .container .inside .row ul {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 74.5762711864%;
     text-align: left; }
footer .dark .container .inside .row ul:last-child {
     margin-right: 0; }
footer .dark .container .inside .row ul li {
     display: inline-block;
     font-size: 1em;
     margin: 0 10px; }
footer .dark .container .inside .row ul li a {
     color: #72c7df; }
footer .dark .container .inside .row ul li.active a {
     color: #fff; }
@media screen and (min-width: 75em) {
     footer .dark .container .inside .row ul {
          display: block; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .row ul {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .row ul {
          display: none; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .row ul {
          display: none; } }
footer .dark .container .inside .logos {
     margin-top: 30px;
     opacity: 0.5; }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .logos {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .logos {
          text-align: left; } }
footer .dark .container .inside .logos li {
     float: left;
     margin-right: 4ex;
     vertical-align: middle; }
footer .dark .container .inside .logos li figure {
     display: block;
     margin: 0;
     width: 100%;
     line-height: 70px; }
footer .dark .container .inside .logos li figure img {
     display: inline; }
footer .dark .container .inside .logos li.logoSkanuj {
     width: 130px; }
footer .dark .container .inside .logos li.logoXenga {
     width: 90px; }
footer .dark .container .inside .logos li.logoSprawdzonyKsiegowy {
     width: 130px; }
footer .dark .container .inside .logos li.logoMCI {
     width: 70px; }
footer .dark .container .inside .logos li.logoCloudPlanet {
     width: 40px; }
footer .dark .container .inside .logos li.right {
     float: right;
     margin-right: 0; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .logos li.right {
          float: none;
          display: block;
          text-align: left; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .logos li.right {
          float: none;
          display: block;
          text-align: left; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .logos li.right {
          float: left;
          width: 300px;
          display: block;
          text-align: left; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .logos li {
          float: none;
          display: inline-block; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .logos li {
          float: none;
          display: inline-block; } }

#dla-biur #main {
     min-height: 500px;
     height: 700px;
     padding: 0;
     position: relative; }
#dla-biur #main .container {
     height: 700px; }
#dla-biur #main .bg {
     position: absolute;
     left: 0;
     right: 0;
     top: -200px;
     bottom: -200px;
     background: url(../img/dla-biur-rachunkowych/features.jpg) no-repeat center center;
     background-size: cover;
     z-index: -1; }
#dla-biur #main .bg .circles {
     background: url(../img/dla-biur-rachunkowych/circles.png) no-repeat center center;
     width: 100%;
     height: 100%;
     position: relative; }
#dla-biur #main .lead {
     position: absolute;
     top: 50%;
     left: 50%;
     margin: -250px 0 0 -250px;
     width: 500px;
     height: 500px;
     background: rgba(219, 229, 234, 0.5);
     border-radius: 250px;
     padding: 30px;
     text-align: center; }
#dla-biur #main .lead h1 {
     margin: 0 0 20px;
     padding-top: 80px;
     font-size: 30px;
     font-weight: 600;
     color: #fff; }
#dla-biur #main .lead h1 small {
     font-size: 24px;
     display: block; }
#dla-biur #main .lead p.big {
     font-size: 18px;
     font-weight: 600; }
#dla-biur #main .lead p.small {
     font-size: 14px;
     font-weight: 600; }
#dla-biur #main .lead .inside {
     color: #fff;
     background: #303853;
     width: 100%;
     height: 100%;
     border-radius: 100%; }
#dla-biur #main .feature {
     text-align: center;
     width: 200px;
     position: absolute;
     top: 50%;
     left: 50%; }
#dla-biur #main .feature figure {
     margin: 0 auto 10px; }
#dla-biur #main .feature h3 {
     margin-bottom: 10px;
     line-height: 13px; }
#dla-biur #main .feature h3 span {
     display: inline-block !important;
     background: rgba(43, 45, 53, 0.8);
     font-size: 13px;
     padding: 3px 8px;
     line-height: 16px;
     font-weight: 600;
     color: #fff;
     margin-top: -2px !important; }
#dla-biur #main .feature em {
     display: inline-block;
     height: 28px;
     width: 28px;
     background: url(../img/dla-biur-rachunkowych/more-feature.png); }
#dla-biur #main .feature .text {
     position: absolute;
     top: 60%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     left: -20px;
     right: -20px;
     background-color: #fff;
     background-image: -webkit-linear-gradient(#fff, #eee);
     background-image: linear-gradient(#fff, #eee);
     opacity: 0.95;
     border-radius: 5px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
     font-size: 13px;
     font-weight: 600;
     padding: 20px;
     opacity: 0;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all;
     cursor: pointer; }
#dla-biur #main .feature:hover .text {
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all;
     opacity: 1;
     top: 50%; }
#dla-biur #main .feature#nowoczesne-narzedzia {
     margin-top: -280px;
     margin-left: -440px; }
#dla-biur #main .feature#promocja-w-internecie {
     margin-top: -100px;
     margin-left: -580px; }
#dla-biur #main .feature#przewaga-konkurencyjna {
     margin-top: 80px;
     margin-left: -420px; }
#dla-biur #main .feature#uczestnictwo-w-projektach {
     margin-top: -240px;
     margin-left: 320px; }
#dla-biur #main .feature#partnerstwo-z-bankami {
     margin-top: -20px;
     margin-left: 300px; }
#dla-biur #opinions {
     min-height: 700px;
     background: url(../img/dla-biur-rachunkowych/informacyjna-bg.jpg) no-repeat center top;
     background-size: cover;
     padding: 0; }
#dla-biur #opinions .container {
     width: 900px;
     background: rgba(255, 255, 255, 0.9);
     border-bottom-left-radius: 450px;
     border-bottom-right-radius: 450px;
     height: 450px;
     padding-top: 50px; }
#dla-biur #opinions .opinion-list {
     overflow: visible !important;
     margin: 0 auto;
     position: relative;
     height: 150px;
     width: 600px;
     padding: 0px;
     margin: 20px auto; }
#dla-biur #opinions .opinion-list > a {
     position: absolute;
     top: 50%;
     margin-top: -24px; }
#dla-biur #opinions .opinion-list > a#prev-opinion {
     left: -100px; }
#dla-biur #opinions .opinion-list > a#next-opinion {
     right: -100px; }
#dla-biur #opinions .opinion-list .opinion {
     height: 150px; }
#dla-biur #opinions .opinion-list .opinion .inside-opinion {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%); }
#dla-biur #opinions .opinion-list .opinion .inside-opinion p {
     text-align: center;
     font-size: 14px;
     line-height: 18px; }
#dla-biur #opinions .opinion-list .opinion .inside-opinion p.author {
     color: #aaa; }
#dla-biur #opinions .opinion-list .slidesjs-navigation {
     position: absolute;
     top: 50%;
     margin-top: -30px;
     width: 30px;
     height: 30px;
     overflow: hidden;
     text-indent: -100000px;
     opacity: 1;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
#dla-biur #opinions .opinion-list .slidesjs-navigation:hover {
     opacity: 0.5;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
#dla-biur #opinions .opinion-list .slidesjs-previous {
     left: -60px;
     background: url(opinion-prev.png) no-repeat center center; }
#dla-biur #opinions .opinion-list .slidesjs-next {
     right: -60px;
     background: url(opinion-next.png) no-repeat center center; }
#dla-biur #opinions .button-container {
     margin-top: 50px; }

/* PAKIETY */
#package-list {
     position: relative;
     background-color: rgba(51, 51, 51, 0.7);
     background-image: -webkit-linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.9));
     background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.9));
     text-align: center;
     color: #fff; }
#package-list .container {
     padding-top: 70px;
     height: 200px;
     position: relative; }
#package-list h1 {
     font-size: 2.5em;
     height: 50px;
     line-height: 1em;
     margin-bottom: 1em;
     text-align: center;
     color: #fff; }
#package-list h2 {
     color: white;
     font-size: 1.5em;
     line-height: 1.2em; }
#package-list h2 small {
     display: block;
     margin-top: 1em;
     font-size: 0.8em;
     line-height: 1.2em; }
#package-list h3 {
     font-size: 1.5em;
     color: #fff;
     font-weight: 600;
     position: absolute;
     bottom: 80px;
     right: 0;
     left: 0; }
#package-list ul {
     height: 60px;
     margin: 0;
     text-align: left;
     position: absolute;
     bottom: 0;
     left: 350px; }
#package-list ul li {
     height: 60px;
     display: inline-block;
     margin-right: 1ex;
     float: left;
     background-color: #666;
     cursor: pointer;
     font-size: 16px;
     line-height: 1em; }
#package-list ul li:hover {
     background-color: #777; }
#package-list ul li.aktywny.premium {
     background-color: #008cc0; }
#package-list ul li.aktywny.premium a {
     color: #fff; }
#package-list ul li.aktywny.podstawowy {
     background-color: #5d448b; }
#package-list ul li.aktywny.podstawowy a {
     color: #fff; }
#package-list ul li.aktywny.bankowy {
     background-color: #008092; }
#package-list ul li.aktywny.bankowy a {
     color: #fff; }
#package-list ul li label {
     display: block;
     padding: 20px 30px;
     font-size: 1.25em;
     font-weight: 600;
     color: #eee;
     cursor: pointer; }

#package-details section.package {
     padding-top: 0;
     display: none; }
#package-details section.package.aktywny {
     display: block; }
#package-details section.package .intro {
     padding: 0 0;
     height: 280px;
     color: #fff; }
#package-details section.package .intro .container {
     height: 280px; }
#package-details section.package .intro h2 {
     font-size: 2.25em;
     color: #fff;
     margin-bottom: 20px; }
#package-details section.package .intro p {
     font-size: 1.375em;
     font-weight: 500;
     color: #fff; }
#package-details section.package .intro .sticky {
     position: absolute;
     width: 270px;
     padding: 35px 30px;
     padding-right: 0px;
     z-index: 10000000; }
#package-details section.package .intro .sticky .price {
     margin-bottom: 30px;
     height: 130px; }
#package-details section.package .intro .sticky .price .price-label {
     font-weight: 600;
     display: block;
     font-size: 1.5em;
     height: 30px; }
#package-details section.package .intro .sticky .price .price-monthly {
     font-weight: 600;
     display: block;
     font-size: 1.25em; }
#package-details section.package .intro .sticky .price .price-value {
     display: block;
     font-size: 4em;
     line-height: 1.1em;
     font-weight: 700;
     height: 65px; }
#package-details section.package .intro .sticky .price .price-value span.od {
     font-size: 0.5em;
     line-height: 1em;
     margin-right: 5px; }
#package-details section.package .intro .intro-text {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 66.1016949153%;
     margin-left: 29.6610169492%;
     padding: 40px 0; }
#package-details section.package .intro .intro-text:last-child {
     margin-right: 0; }
#package-details section.package#premium .intro,
#package-details section.package#premium .sticky {
     background-color: #008cc0; }
#package-details section.package#podstawowy .intro,
#package-details section.package#podstawowy .sticky {
     background-color: #5d448b; }
#package-details section.package#bankowy .intro,
#package-details section.package#bankowy .sticky {
     background-color: #008092; }
#package-details section.package > .container {
     padding: 50px 0 100px;
     padding-left: 360px; }
#package-details section.package > .container h3 {
     font-size: 1.5em;
     line-height: 1.4em; }
#package-details section.package > .container ul.process {
     margin-bottom: 3em;
     counter-reset: item; }
#package-details section.package > .container ul.process > li {
     display: block;
     padding: 12px 12px 12px 36px;
     font-size: 1.125em;
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
     counter-increment: item;
     position: relative; }
#package-details section.package > .container ul.process > li:before {
     content: counter(item);
     background: #3a70a7;
     color: #fff;
     font-weight: 600;
     text-align: center;
     width: 24px;
     height: 24px;
     line-height: 24px;
     position: absolute;
     top: 10px;
     left: 2px;
     border-radius: 100%; }
#package-details section.package > .container ul.features {
     margin-bottom: 3em; }
#package-details section.package > .container ul.features > li {
     display: block;
     padding: 12px 12px 12px 36px;
     font-size: 1.125em;
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
     background-image: url(../img/dla-biur-rachunkowych/tick.svg);
     background-position: 10px 18px;
     background-size: 14px;
     background-repeat: no-repeat; }
#package-details section.package > .container ul.features > li span.more {
     background: #3a70a7;
     color: #fff;
     font-weight: 600;
     text-transform: uppercase;
     font-size: 13px;
     white-space: nowrap;
     padding: 2px 6px;
     display: inline-block;
     margin-top: 5px;
     border-radius: 2px;
     cursor: pointer; }
#package-details section.package > .container ul.features > li span.more:hover {
     background: #5189c3; }
#package-details section.package > .container ul.features > li.plus, #package-details section.package > .container ul.features > li.pakiet-premium {
     border-bottom: none; }
#package-details section.package > .container ul.features > li.plus {
     color: #13a538;
     font-weight: 600;
     background: none !important; }
#package-details section.package > .container ul.features > li .details {
     margin: 20px 0 0;
     background: #fff;
     padding: 20px 20px 30px;
     display: none; }
#package-details section.package > .container ul.features > li .details span.close {
     background: #3a70a7;
     color: #fff;
     font-weight: 600;
     text-transform: uppercase;
     font-size: 13px;
     white-space: nowrap;
     padding: 2px 6px;
     display: inline-block;
     margin-top: 20px;
     border-radius: 2px;
     cursor: pointer; }
#package-details section.package > .container ul.features > li .details span.close:hover {
     background: #5189c3; }
#package-details section.package > .container ul.features > li .details h4 {
     margin: 2em 0 1em;
     color: #3a70a7;
     font-size: 1.125em; }
#package-details section.package > .container ul.features > li .details h4 strong {
     font-size: 1.5em;
     line-height: 1.6em;
     display: block;
     font-weight: 600; }
#package-details section.package > .container ul.features > li .details h4:first-child {
     margin-top: 0;
     margin-bottom: 2em; }
#package-details section.package > .container ul.features > li .details p {
     font-size: 0.9375em; }
#package-details section.package > .container ul.features > li .details li {
     padding: 3px 0 3px 28px;
     font-size: 0.9375em;
     background-image: url(../img/dla-biur-rachunkowych/bullet.svg);
     background-position: 12px 10px;
     background-size: 5px;
     background-repeat: no-repeat; }
#package-details section.package > .container ul.features > li .details figure {
     background-image: url(../img/dla-biur-rachunkowych/package-ai.png);
     background-position: center top;
     background-repeat: no-repeat;
     margin: 0 -20px;
     padding: 0 20px;
     height: 260px;
     display: block; }
#package-details section.package > .container ul.features > li .details figure > div {
     text-align: center;
     padding: 32px 0;
     font-size: 0.9375em; }
#package-details section.package > .container ul.features > li .icons img {
     margin: 10px 20px 10px 0;
     display: inline-block; }

#all-inclusive #intro {
     height: 700px;
     background: url(../img/image-13.svg) no-repeat bottom center;
     background-size: 1600px auto; }
@media screen and (max-width: 43.75em) {
     #all-inclusive #intro {
          height: 500px;
          background-size: 400px auto; } }

#o-nas #intro {
     text-align: left;
     padding-bottom: 100px; }
#o-nas #intro * {
     text-align: left; }
#o-nas #intro .bigger {
     font-size: 1.5em; }
#o-nas #history {
     background: #edeff2 url(../img/history.svg) repeat-y center top;
     background-size: 16px 16px;
     padding: 100px 0; }
@media screen and (max-width: 43.75em) {
     #o-nas #history {
          background: #edeff2; } }
#o-nas #history .event {
     width: 50%;
     height: 150px;
     position: relative; }
@media screen and (max-width: 43.75em) {
     #o-nas #history .event {
          width: 100%;
          height: auto;
          margin-bottom: 40px; } }
#o-nas #history .event .year {
     color: #6c9b21;
     font-size: 1.5em; }
@media screen and (min-width: 75em) {
     #o-nas #history .event .year {
          width: 100px;
          height: 100px;
          border: 3px solid #fff;
          background: #edeff2;
          text-align: center;
          line-height: 100px;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          margin-top: -50px; } }
@media screen and (min-width: 75em) {
     #o-nas #history .event p {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
#o-nas #history .event:nth-child(even) {
     margin-left: 50%; }
@media screen and (max-width: 43.75em) {
     #o-nas #history .event:nth-child(even) {
          margin-left: 0px; } }
#o-nas #history .event:nth-child(even) p {
     left: 100px;
     right: 0; }
@media screen and (max-width: 43.75em) {
     #o-nas #history .event:nth-child(even) p {
          right: auto;
          left: auto; } }
#o-nas #history .event:nth-child(even) .year {
     left: -50px; }
@media screen and (max-width: 43.75em) {
     #o-nas #history .event:nth-child(even) .year {
          left: auto; } }
#o-nas #history .event:nth-child(odd) {
     text-align: right; }
@media screen and (max-width: 43.75em) {
     #o-nas #history .event:nth-child(odd) {
          text-align: left; } }
#o-nas #history .event:nth-child(odd) p {
     right: 100px;
     left: 0; }
@media screen and (max-width: 43.75em) {
     #o-nas #history .event:nth-child(odd) p {
          right: auto;
          left: auto; } }
#o-nas #history .event:nth-child(odd) .year {
     right: -50px; }
@media screen and (max-width: 43.75em) {
     #o-nas #history .event:nth-child(odd) .year {
          right: auto;
          left: auto; } }
#o-nas #news {
     padding: 100px; }
@media screen and (max-width: 43.75em) {
     #o-nas #news {
          padding: 100px 0; } }
#o-nas #news h2 {
     font-size: 1.875em;
     margin-bottom: 1em; }
#o-nas #news .news-item {
     margin-bottom: 3em; }
#o-nas #news .news-item h3 {
     font-size: 1.25em;
     margin: 0 0 0.5em;
     color: #004571; }
#o-nas #news .news-item p.date {
     color: #c1c4c5; }

#fixedmenu {
     background-color: #002034;
     background-image: -webkit-linear-gradient(-540deg, #002034, #00263e);
     background-image: linear-gradient(270deg,#002034, #00263e);
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     width: 15.625em;
     z-index: 10000000;
     right: -15.625em; }
#fixedmenu .inside {
     overflow-y: scroll;
     padding: 40px 0; }
#fixedmenu .inside ul li a.link {
     font-size: 1em;
     line-height: 1em;
     display: block;
     padding: 10px 20px;
     color: #72c7df; }
#fixedmenu .inside ul li a.link:hover {
     color: #c5e8f2; }
#fixedmenu .inside ul li.active .link {
     color: #fff; }
#fixedmenu .inside ul li a.button {
     border: 1px solid #001a2c; }
#fixedmenu .inside ul.buttons {
     padding: 10px 0; }
#fixedmenu .inside ul.buttons li {
     padding: 10px 20px; }
#fixedmenu .inside ul.buttons li a {
     width: 100%;
     text-align: center; }

#mobile-pricelist {
     background: white;
     padding-bottom: 20px; }
#mobile-pricelist .text {
     position: absolute;
     top: 0;
     left: 0; }
#mobile-pricelist .signup-first {
     padding: 0; }
#mobile-pricelist .options {
     height: 180px; }
#mobile-pricelist .options h3 {
     font-size: 1.25em;
     text-align: center;
     margin: 1.5em 0 1em; }
#mobile-pricelist .options .option {
     float: left;
     width: 23%;
     height: 80px;
     text-align: center;
     border: 2px solid transparent;
     cursor: pointer;
     margin: 0 1% 4px;
     padding-top: 10px;
     -webkit-box-shadow: 0px 0px 21px -1px  rgba(0,0,0,0.53);
     -moz-box-shadow: 0px 0px 21px -1px  rgba(0,0,0,0.53);
     box-shadow: 0px 0px 21px -1px  rgba(0,0,0,0.53);
}
#mobile-pricelist .options .option:hover {
     border:none;
     -webkit-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 0.9);
     -moz-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 0.9);
     box-shadow: 0px 0px 21px -1px rgba(16, 112, 161, 0.9);}
#mobile-pricelist .options .option.active {
     border:2px solid #01a4d2;
     -webkit-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 1);
     -moz-box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 1);
     box-shadow: 0px 0px 21px -1px  rgba(16, 112, 161, 1);}
#mobile-pricelist .options .option label {
     font-size: 0.875em; }
#mobile-pricelist .options .option label input {
     display: none; }
#mobile-pricelist .options .option label big {
     display: block;
     font-size: 2em;
     line-height: 1.1em; }
#mobile-pricelist .package-header {
     width: 100%;
     margin: 20px 0 0;
     clear: both; }
#mobile-pricelist .package-header:after {
     content: "";
     display: table;
     clear: both; }
#mobile-pricelist .package-header.pakiet-podstawowy {
     background: #0991ba; }
#mobile-pricelist .package-header.pakiet-pelny {
     background: #0b81b0; }
#mobile-pricelist .package-header.pakiet-all-inclusive {
     background: #1070a1; }
#mobile-pricelist .package-header.pakiet-all-inclusive em.grosze {
     display: none; }
#mobile-pricelist .package-header .header-name {
     z-index: 1000000;
     position: relative;
     padding: 20px;
     text-transform: uppercase;
     text-align: center;
     font-size: 1.125em;
     line-height: 1.2em;
     font-weight: 600;
     color: #fff; }
#mobile-pricelist .package-header span {
     display: block; }
#mobile-pricelist .package-header .monthly {
     text-align: center;
     position: relative;
     top: -10px;
     color: #fff; }
#mobile-pricelist .package-header .price {
     text-align: center;
     font-size: 3.25em;
     line-height: 1.2em;
     height: 70px;
     font-weight: 600;
     letter-spacing: -2px;
     position: relative;
     color: #fff; }
#mobile-pricelist .package-header .price em.zlote {
     font-style: normal; }
#mobile-pricelist .package-header .price em.grosze {
     font-style: normal;
     /*font-size: 0.6em;*/
     /*letter-spacing: 0px;*/
     /*position: relative;*/
     /*left: 3px;*/
     /*top: -10px;*/
     /*opacity: 0.5; */
}
#mobile-pricelist table td .button{
     width: 100%;
}
#mobile-pricelist .package-header .price em.from {
     font-size: 0.45em;
     font-style: normal;
     margin-right: 4px;
     font-weight: 500;
     letter-spacing: 0px;
     opacity: 0.5; }
#mobile-pricelist .package-details {
     margin-bottom: 40px; }
#mobile-pricelist table {
     margin: 0; }
#mobile-pricelist table td {
     padding: 0;
     height: 40px;
     line-height: 40px;
     border-bottom: none;
     padding-left: 20px; }
#mobile-pricelist table td em.tooltip {
     display: inline-block;
     content: "";
     background: #aaa;
     border-radius: 20px;
     height: 20px;
     padding: 0 10px;
     vertical-align: middle;
     margin-left: 1ex;
     text-transform: uppercase;
     font-style: normal;
     font-size: 0.6875em;
     font-weight: 600;
     line-height: 20px;
     color: #fff;
     cursor: pointer; }
#mobile-pricelist table td em.tooltip:hover {
     background: #999; }
#mobile-pricelist table td em.trzy-miesiace-gratis {
     color: #01a4d2;
     font-weight: 600;
     font-style: normal;
     display: block;
     text-align: center;
     margin-left: -10px; }
#mobile-pricelist table tr:nth-child(even) td {
     background: #eee; }

.extra-packages {
     padding: 30px 20px 80px; }
.extra-packages h3 {
     font-size: 1.5em;
     margin-top: 0;
     margin-bottom: 1.25em;
     color: #004571; }


.newButtonLogin {
     padding: 12px 21px;
     font-size: 16px !important;
     font-weight: 500;
     line-height: 1.1em !important;
     color: #fff;
}

.newButtonsignup {
     padding: 12px 21px;
     font-size: 16px !important;
     font-weight: 500;
     line-height: 1.1em !important;
     color: #fff;
}

.button-45-days {
     padding: 20px;
     font-size: 20px !important;
     font-weight: 500;
     line-height: 1.1em !important;
     color: #fff;
}
.newButtonLogin:hover {
     color: #fff !important;
     background-color: #004571;
    background-image: linear-gradient(#596b97, #255e84);
}

.newButtonsignup:hover {
     color: #fff !important;
     background-color: #7bb025;
    background-image: linear-gradient(#a7dc56, #93bc53);
}

.button-45-days:hover {
    color: #fff !important;
     background-color: #7bb025;
    background-image: linear-gradient(#a7dc56, #93bc53);
}

/*Acordions*/ 

#acordion ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
#acordion ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
  background: #FDFDFD;
}
#acordion ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
#acordion ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
#acordion ul li:nth-of-type(3) {
  animation-delay: 1s;
}
#acordion ul li:last-of-type {
  padding-bottom: 0;
}
#acordion ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
  margin-right: 10px;
}
#acordion ul li i:before, #acordion ul li i:after {
  content: "";
  position: absolute;
  background-color: #004571;
  width: 3px;
  height: 9px;
}
#acordion ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#acordion ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#acordion ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 35px;
  z-index: 1;
  opacity: 0;
}
#acordion ul li input[type=checkbox]:checked ~ section {
  display: none; 
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
#acordion ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
#acordion ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

#center2 {
	width: 80%;
    margin-left: 14%;
}
.buy-td{
     padding: 20px 0 !important;
}
@media all and (max-width:700px){
     .buy-td{
          background: #fff !important;
     }
}