/*

@mixin true-button($button-size, $font-size, $color) {
	
	font-size: em($font-size);
	font-weight: 600;
	text-decoration: none !important;
	color: #fff;

	height: $button-size;
	padding: 0;

	@include transition(all 0.2s);
	background-color: $color;
	position: relative;

	@if strip-units($button-size) < 70 {
		border-radius: 4px;	
	} @else {
		border-radius: 5px;			
	}	
	
	> span {

		text-decoration: none !important;
		@include transition(all 0.2s);
		width: 100%;
		height: 100%;		
		display: block;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		@include radial-gradient(ellipse farthest-corner at center top, lighten($color,20%), $color);
//		box-shadow: inset 0 2px 0 lighten($color,25%);
		opacity: 0.25;

		@if strip-units($button-size) < 70 {
			border-radius: 4px;	
		} @else {
			border-radius: 5px;			
		}
		
		

	}
	
	> label {
		padding: 0px $button-size/2;
		width: 100%;
		height: 100%;
		display: block;
		margin: 0;			
		line-height: $button-size;
		position: relative;
		cursor: pointer;
	}
	
  &:hover {
    color: white;
		@include transition(all 0.2s);
		background-color: $color;
		span {
			@include transition(all 0.2s);
			opacity: 0.7;
		}
  } 

	&:active {
		@include transition(all 0.2s);
	}
  
		
}
*/