/*
Theme Name: Szybka Faktura based on Twenty Fifteen
Author: True WODKOWSKI
Author URI: http://www.true.pl
Description: 
Version: 1.0
*/


/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigations
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Header
 * 11.0 - Widgets
 * 12.0 - Content
 *    12.1 - Posts and pages
 *    12.2 - Post Formats
 *    12.3 - Comments
 * 13.0 - Footer
 * 14.0 - Media
 *    14.1 - Captions
 *    14.2 - Galleries
 * 15.0 - Media Queries
 *    15.1 - Mobile Large
 *    15.2 - Tablet Small
 *    15.3 - Tablet Large
 *    15.4 - Desktop Small
 *    15.5 - Desktop Medium
 *    15.6 - Desktop Large
 *    15.7 - Desktop X-Large
 */
 
@import "css/bourbon/bourbon";
@import "css/base/grid-settings";
@import "css/base/base";
@import "css/neat/neat";

$dark-gray:		#3e464c;
$blue: 		 		#004571; // dark blue
$dark-blue:   #00395f; // very dark blue
$green: 	 		#6c9b21;
$cyan:				#01a4d2;
$light-cyan:	#72c7df;
$light:				#edeff2;
$gray:				#c1c4c5;

html, body {margin-top: 0 !important}

body {
	color: $dark-gray;
	margin: 0;
	padding: 0;
}

.row {
	@include row();
}

#wrapper {
	overflow: hidden
}

.button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	
	> span {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		@include transition(0.5s all);
		cursor: pointer;
		display: block;
	}
	
	> label {
		position: relative;
		display: block;
		font-weight: 500;
		background: transparent;
		margin: 0;
		cursor: pointer;
	}
		
}


.small.button,
button.small {
	height: 32px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
	> label {
		height: 32px;
		padding: 0 18px;
		font-size: em(16) !important;
		font-weight: 500;
		line-height: 32px;
	}
		
}

.verysmall.button,
button.verysmall {
	height: 28px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
	> label {
		height: 28px;
		padding: 0 14px;
		font-size: em(14) !important;
		font-weight: 500;
		line-height: 28px;
	}
		
}



.medium.button,
button.medium {
	height: 42px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
	> label {
		height: 42px;
		padding: 0 21px;
		font-size: 16px !important;
		font-weight: 500;
		line-height: 42px;
	}
		
}

.big.button,
button.big {
	height: 48px;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
	> label {
		height: 48px;
		padding: 0 20px;
		font-size: 20px !important;
		font-weight: 500;
		line-height: 46px !important;
	}
		
}

.blue.button {
	@include linear-gradient($blue,$dark-blue);
	border: none;
	
	> span {
		@include radial-gradient(ellipse farthest-corner at center top, lighten($blue,12%), rgba($blue,0));		
	}
	
	> label {
		color: #fff;
	}
	
	&:hover {
		> span {
			opacity: 1;
			@include transition(0.2s all);
		}

	}
	
}

.darkblue.button {
	@include linear-gradient($blue,$dark-blue);
	border: none;
	
	> span {
		@include radial-gradient(ellipse farthest-corner at center top, lighten($blue,12%), rgba($blue,0));		
	}
	
	> label {
		color: #fff;
	}
	
	&:hover {
		> span {
			opacity: 1;
			@include transition(0.2s all);
		}

	}
	
}


.green.button {
	@include linear-gradient(lighten($green,5%),darken($green,5%));
	border: none;
	> span {
		@include radial-gradient(ellipse farthest-corner at center top, lighten($green,20%), rgba($green,0));		
	}
	> label {
		color: #fff;
	}
	&:hover {
		> span {
			opacity: 1;
			@include transition(0.2s all);
		}

	}
}

.signup-first {
	
	padding: 30px 0;
	text-align: center;
	
	.button {
		box-shadow: none;
		border: 1px solid darken($green,5%);
		height: 54px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
		
			> label {
				height: 54px;
				padding: 0 20px;
				font-size: 22px !important;
				font-weight: 500;
				line-height: 52px !important;
			}
				
		}

}

.hide-on-mobile {
	
	@include media($desktop) {
	}

	@include media($tablet) {
		display: none;
	}

	@include media($portrait) {
		display: none;
	}
	
	@include media($mobile) {
		display: none;
	}
	
}



.show-on-phone {
	
	display: none !important;	
	
	@include media($mobile) {
		display: block !important;
	}
	
}

.hide-on-phone {
		
	@include media($mobile) {
		display: none !important;
	}
	
}

.hide {
	display: none
}

.show-on-desktop {
	@include media($desktop) {
		display: block
	}
}

.show-on-tablet {
	@include media($tablet) {
		display: block
	}
}

.show-on-portrait {
	@include media($portrait) {
		display: block
	}
}


.container {
	
	@include media($desktop) {
		@include outer-container(1160px);		
	}

	@include media($tablet) {
		@include outer-container(980px);
	}

	@include media($portrait) {
		@include outer-container(680px);
	}
	
	@include media($mobile) {
		@include outer-container(90%);		
	}

	
}

.inside {
	position: relative;
	height: 100%;
	width: 100%;
}

h2 {
	color: $blue;
}

h1.cyan {
	color: $cyan;
}

h1.main-header {
	margin-bottom: 2em;
}

.row {
	@include row();
}

header {
	
	height: 150px;
	
	@include media($tablet) {
		height: 105px;
	}

	@include media($portrait) {
		height: 105px;
	}
	
	@include media($mobile) {
		height: 105px;
	}

	
	.dark {
		
		@include linear-gradient($dark-blue,$blue);
		
		.container {
			.inside {
				
				height: 100px;
				
				#logo {
					position: absolute;
					left: 0;
					top: 50%;
					@include transform(translateY(-50%));
					img {
						display: block;
						width: 320px;

						@include media($mobile) {
							width: 240px;
							top: 55%;
						}

					}
				}
				
				ul {
					
					position: absolute;
					right: 0;
					top: 50%;
					@include transform(translateY(-50%));
					
					li {
						float: left;
						vertical-align: middle;
						margin-left: 1ex;
						
						a.link {
							font-size: em(18);
							display: block;
							padding: 10px 10px;
							color: $light-cyan;
							&:hover {
								color: lighten($light-cyan,20%);
							}				
						}
						
						&.active {
							.link {
								color: #fff;
							}
						}
						
						a.button {
							
							border: 1px solid darken($dark-blue,3%);
							
							&.login {
								margin-left: 30px;
							}
							
						}
						
					}
					
					@include media($tablet) {
						display: none;
					}
				
					@include media($portrait) {
						display: none;
					}
					
					@include media($mobile) {
						display: none;
					}

					
				}

				#fixedmenulink {
					position: absolute;
					right: 20px;
					top: 50%;
					z-index: 100000;
					
					label {
						background: url(img/menu.svg) no-repeat center center;
						background-size: 80%;
					}
				
					@include media($desktop) {
						display: none;
						@include transform(translateY(-50%));
					}
					
					@include media($tablet) {
						display: block;
						@include transform(translateY(-50%));
					}
				
					@include media($portrait) {
						display: block;
						@include transform(translateY(-50%));
					}
					
					@include media($mobile) {
						display: block;
						position: fixed;
						top: 30px;
						right: 30px;
						
					}
			
				}
				
				
			}
		}
		
	}
	
	.light {
		
		background: $cyan;
		
		.container {
			.inside {
				
				height: 50px;		

				@include media($tablet) {
					height: 5px
				}
			
				@include media($portrait) {
					height: 5px
				}
				
				@include media($mobile) {
					height: 5px
				}

				
				ul {
					
					li {
						
						float: left;
						line-height: 50px;
						color: #fff;
						
						a.link {
							display: block;
							padding: 0 20px;
							font-size: em(18);
							color: #fff;
							@include transition(0.5s all);
						}
					
						&:hover {
							
							a {
								background-color: rgba($light-cyan,0.5);
							}
						}

						a.home {
							display: block;
							width: 65px;
							background-image: url(img/iconHome.svg);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: 30px auto;							
							@include transition(0.5s all);
												
						}
						
						
						&.active {
							
							a.link {
								background: #fff;
								color: $cyan;
								@include transition(0.5s all);
							}							
							
							a.home {
								background-color: #fff;
								background-image: url(img/iconHomeActive.svg);								
							}
							
						}
						
					
						&.right {
							float: right;
						}
						
					}					
				
					@include media($tablet) {
						display: none;
					}
				
					@include media($portrait) {
						display: none;
					}
					
					@include media($mobile) {
						display: none;
					}

					
				}
				

				
			}
		}
	}
	
	
}

#content {
	
	min-height: 500px;
	padding: 60px 0;
	
	.container {
		
		> .inside {
			
			@include row();
			
			> #left {
				
				@include span-columns(17);
			
				@include media($tablet) {
					@include fill-parent();
				}
			
				@include media($portrait) {
					@include fill-parent();
				}
				
				@include media($mobile) {
					@include fill-parent();
				}
				
			}
			
			> #sidebar {
				
				@include span-columns(6);
				@include shift(1);					
			
				@include media($tablet) {
					display: none;
				}
			
				@include media($portrait) {
					display: none;
				}
				
				@include media($mobile) {
					display: none;
				}
				
				
				
				div.widget {
					margin-bottom: 2em;
					
					h2 {
						color: $cyan;
						font-size: em(18);
						text-transform: uppercase;
						margin: 0 0 1em;
					}
					
					a {
						color: $blue;
						&:hover {
							text-decoration: underline;
						}
					}
					
				}
			}
			
		}
		
	}
	
}

footer {
	
	.pkobp {
		
		background: rgba($light,0.9);
				
		.container {
			.inside {
				
				background: url(img/pkobp.svg) no-repeat left center;
				background-size: auto 72px;
				
				height: 120px;
				padding: 0 200px 0 260px;

				@include media($tablet) {
					height: 140px;
				}
				
				@include media($portrait) {
					height: 240px;
					background-position: left 30px;
					padding-right: 0px;
					padding-top: 35px;
				}
				
				@include media($mobile) {
					background-position: left 30px;
					height: auto;
					padding: 120px 0 30px;
					
				}
				
				
				.text {
					
		@include media($desktop) {
						position: relative;
						top: 50%;
						@include transform(translateY(-50%));											
					}

					@include media($tablet) {
						position: relative;
						top: 50%;
						@include transform(translateY(-50%));											
					}

					
				}
				
				
				
				figure {
					margin: 0;
					position: absolute;
					top: 50%;
					@include transform(translateY(-50%));
					left: 0;
				}
				
				h2 {
					font-size: em(28);
					line-height: 1.3em;
					font-weight: 500;
					color: $cyan;
					margin: 0;
					@include media($tablet) {
						font-size: em(24);
					}
					@include media($portrait) {
						line-height: 1.15em;
						margin-bottom: 10px;
					}
					
				}
				
				h3 {
					font-size: em(18);
					font-weight: 500;
					
					span {
						background: $cyan;
						color: #fff;
						display: inline-block;
						padding: 0 5px;
					}
				}
				
				.button {

					@include media($desktop) {
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translateY(-50%));						
					}
					
					@include media($tablet) {
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translateY(-50%));						
					}

					@include media($mobile) {
						margin-top: 20px;
					}
					
					@include media($portrait) {
						margin-top: 20px;
					}
					
					
				}
				
			}
		}
		
	}
	
	.dark {
		
		background: $blue;
		
		.container {
			.inside {
				
				padding: 30px 0;
				height: 200px;
				color: #fff;
				
				@include media($tablet) {
					height: 280px;
				}

				@include media($portrait) {
					height: 280px;
				}

				@include media($mobile) {
					height: 160px;
				}
				
				
				.row {

					@include row();

					.text {
						
						@include span-columns(6);
						text-align: right;
						
						.copy {
							font-size: em(16);
						}
						
						.true {
							font-size: em(14);
							color: darken($dark-blue,10%);
							a {
								color: darken($dark-blue,10%);
								text-decoration: underline;
							}
						}
						
						@include media($desktop) {
						}
					
						@include media($tablet) {
							text-align: left;
							@include fill-parent();
						}
					
						@include media($portrait) {
							text-align: left;
							@include fill-parent();
						}
						
						@include media($mobile) {
							text-align: left;
							@include fill-parent();
						}
						
					}
					
					ul {
						
						@include span-columns(18);
						text-align: left;
						
						li {
							display: inline-block;
							font-size: em(16);
							margin: 0 10px;
							a {
								color: $light-cyan;
							}
							&.active {
								a {
									color: #fff;
								}
							}
						}
						
						@include media($desktop) {
							display: block;
						}
					
						@include media($tablet) {
							display: none;
						}
					
						@include media($portrait) {
							display: none;
						}
						
						@include media($mobile) {
							display: none;
						}
						
						
					}
					
				}	
				
				.logos {
					
					margin-top: 30px;
					opacity: 0.5;
					
					@include media($mobile) {
						display: none;
					}
					
					@include media($portrait) {
						text-align: left;
					}
					
					
					li {
						float: left;
						margin-right: 4ex;						
						vertical-align: middle;
						height: 70px;
						figure {
							display: block;
							margin: 0;
							width: 100%;
							line-height: 70px;
							img {
								display: inline;
							}
						}
						
						&.logoSkanuj 			{		width: 130px }
						&.logoXenga 			{		width: 90px }
						&.logoSprawdzonyKsiegowy 	{		width: 130px }
						&.logoMCI 				{		width: 70px }
						&.logoCloudPlanet	{		width: 40px }
						
						&.right {
							float: right;
							margin-right: 0;
							

							@include media($tablet) {
								float: none;
								display: block;
								text-align: left;
							}

							@include media($portrait) {
								float: none;
								display: block;
								text-align: left;
							}
			
							@include media($mobile) {
								float: left;
								width: 300px;
								display: block;
								text-align: left;
							}
							
						}

						@include media($tablet) {
							float: none;
							display: inline-block;
						}
						
						@include media($portrait) {
							float: none;
							display: inline-block;
						}
						
						
					}
					
				}
				
			}
		}
	}
	
	
}


.post {
	
	.categories {
		
		a {
			display: inline-block;
			font-size: em(14);
			font-weight: 600;
			color: $cyan;
			text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
		}
		
		margin-bottom: 1em;
		
	}
	
	h1 {
		margin-bottom: 1em;
		font-size: em(36);
	}
	
	h2 {
		margin-bottom: 1em;
		font-size: em(24);
		a {
			color: $dark-blue;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.small-thumb {
		float: left;
		width: 200px;
		height: 200px;
		background-position: center center;
		background-size: cover !important;
		margin: 0 20px 20px 0;
		background-repeat: no-repeat;
		
		@include media($mobile) {
			float: none;
			margin: 0 0 20px;
		}
		
	}
	
	
	.meta {
		text-transform: uppercase;
		color: $gray;

		.avatar {
			border-radius: 100%;
			display: inline-block;
			vertical-align: middle;			
			margin-left: -30px;
			margin-right: 20px;
			display: none;
		}
		
		
		span {
			vertical-align: middle;
			display: inline-block;
			margin-right: 1em;
			padding-right: 1em;
			border-right: 1px solid $gray;
			font-weight: 600;
			font-size: em(14);
			line-height: 1em;
			&:last-child {
				border-right: none;
			}
		}
		
	}
	
	.big-poster {
		margin: 0 0 2em;
		width: 100%;
		padding-top: 50%;
		display: block;
		position: relative;
		> div {
			background-size: cover !important;
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	
	
}

.single-post {
	
	.post {
		
		.meta {
			margin-bottom: 2em;
		}
		
		.entry-content {
			
			p, ul, ol {
				
				margin-bottom: 2em;
				
			}
			
			ul, ol {				
				li {
					margin-bottom: 1ex;
				}
				
				ul,ol {
					margin-top: 1em;
				}
				
			}
			
			ol {
margin-left: 1ex;
				list-style-type: decimal;	
				li {
					margin-left: 1em;
				}
			}
			
			ul {
				padding-left: 1ex;
				li {
					padding-left: 1em;
					background: url(img/bullet.png) no-repeat left 7px;
				}
			}
			
			
			
		}
		
		
	}
	
	.post-navigation {
		
		padding: 50px 0;
		
		h2 {
			display: none;
		}
		
		.nav-links {
			
			@include row();
		
			> div {
				
				padding: 0;
				display: block;
				
				@include span-columns(12, "block-collapse");
								
				@include media($mobile) {
					@include fill-parent();
					width: 100%;
				}
				
				a {
					
					display: block;
					padding: 30px 40px;
					
					@include media($mobile) {
						padding: 20px 0;
					}
					
					span {
						display: block;
												
						&.screen-reader-text {
							text-transform: uppercase;
							color: $gray;
							display: inline-block;
							font-weight: 600;
							font-size: em(14);
							line-height: 1em;

						}
						
						&.post-title {
							color: $dark-blue;
						}						
						
					}
					
				}
			
				&.nav-previous {
					a {
						background: url(img/prev.svg) no-repeat left center;
						margin-left: -40px;
						padding-left: 60px;
						
						@include media($mobile) {
							margin: 0;
							padding: 0;
							background: none;
						}
						
					}
				}	
				
				&.nav-next {
					text-align: right;
					float: right;
					
					@include media($mobile) {
						float: none;
						text-align: left;
					}
					
					a {
						background: url(img/next.svg) no-repeat right center;
						margin-right: -40px;
						padding-right: 60px;

						@include media($mobile) {
							margin: 0;
							padding: 0;
							background: none;
						}
						
						
					}
				}

			}
		
		}
		
	}
	
}

.archive, .home {
	
	.post {
		
		margin-bottom: 2em;
		
		@include media($mobile) {
			margin-bottom: 4em;
		}
		
		.meta {
			margin-bottom: 1em;
		}
		
		&.has-post-thumbnail {
			.text {
				margin-left: 240px;	
				@include media($mobile) {
					margin-left: 0
				}
			}
		}

		
	}
	
}

#comments {
	
	margin-top: 4em;
	background: $light;
	padding: 30px;
	
	h2 {
		
		font-size: em(20);
		margin: 0 0 1.5em;
		color: $dark-gray;
		
	}
	
	.comment-list {
		
		.comment {
			
			margin-bottom: 2em;
			
			.avatar {
				display: none;
			}
			
		}
		
		
	}
	
}


#signup {
	
	@include linear-gradient($dark-blue,$blue);
	background: $blue;
	text-align: center;
	padding: 30px 0;
	color: #fff;
	
	p {
		font-size: em(18);
		display: inline-block;
		margin: 0;	
	}
	
	a {
		border: 1px solid darken($dark-blue,3%);
		margin: 0 1em;
	}
	
	
	
}


.related-posts {
	
	h2 {
		font-size: em(20);
		margin-bottom: 1em;
	}	
	
	.row {
		@include row();
	
		.rltdpstsplgn_content {
			
			@include span-columns(8 of 16);
			@include omega(2n);
			
			@include media($mobile) {
				@include fill-parent();
				@include omega(1n);
			}
			
			a {
				display: block;
				
				img {
					width: 150px;
					height: 150px;
					float: left;
					margin-right: 20px;
					
					@include media($mobile) {
						width: 100px;
						height: 100px;
					}
					
				}
				
				.text {
					margin-left: 170px;
					
					@include media($mobile) {
						margin-left: 120px;
					}
					
					
					h3 {
						font-size: em(16);
						font-weight: 500;
						color: $dark-blue;
					}
					.info {
							text-transform: uppercase;
							color: $gray;
							display: inline-block;
							font-weight: 600;
							font-size: em(14);
							line-height: 1em;
					}
					
					
				}
				
			}
			
		}
	
	}
	
	
	
}

#fixedmenu {
	
	@include linear-gradient(270deg, darken($blue,12%), darken($blue,10%));
	
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 15.625em;
	z-index: 10000000;
	
	right: -15.625em;
	
	.inside {
		
		overflow-y: scroll;
		padding: 40px 0;
	
		h2 {
			color: #fff;
			opacity: 0.5;
			padding: 10px 20px;
			text-transform: uppercase;
			font-size: em(16);
		}

		ul {
						
			li {
				
				a.link {
					font-size: em(16);
					line-height: 1em;
					display: block;
					padding: 10px 20px;
					color: $light-cyan;
					&:hover {
						color: lighten($light-cyan,20%);
					}				
				}
				
				&.active {
					.link {
						color: #fff;
					}
				}
				
				a.button {
					
					border: 1px solid darken($dark-blue,10%);
					
				}
				
			}
			
			&.buttons {
				padding: 10px 0;
				li {
					padding: 10px 20px;
					a {
						width: 100%;
						text-align: center;
					}
				}
			}
			
		}
		
		.widget_text {
			display: none;
		}
		
		.widget_categories, .widget_archive {
			
			margin-bottom: 30px;
			
			
			ul {
						
				li {
					
					a {
						font-size: em(16);
						line-height: 1em;
						display: block;
						padding: 10px 20px;
						color: $light-cyan;
						&:hover {
							color: lighten($light-cyan,20%);
						}				
				
					}
				
				}
				
			}
			
		}
		
	}
	
}

