@charset "UTF-8";
/*
Theme Name: Szybka Faktura based on Twenty Fifteen
Author: True WODKOWSKI
Author URI: http://www.true.pl
Description: 
Version: 1.0
*/
/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Genericons
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigations
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Header
 * 11.0 - Widgets
 * 12.0 - Content
 *    12.1 - Posts and pages
 *    12.2 - Post Formats
 *    12.3 - Comments
 * 13.0 - Footer
 * 14.0 - Media
 *    14.1 - Captions
 *    14.2 - Galleries
 * 15.0 - Media Queries
 *    15.1 - Mobile Large
 *    15.2 - Tablet Small
 *    15.3 - Tablet Large
 *    15.4 - Desktop Small
 *    15.5 - Desktop Medium
 *    15.6 - Desktop Large
 *    15.7 - Desktop X-Large
 */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
body {
     -webkit-font-smoothing: antialiased;
     background-color: white;
     color: #333;
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     font-size: 1em;
     line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     line-height: 1.25;
     margin: 0;
     text-rendering: optimizeLegibility; }

h1 {
     font-size: 2.25em; }

h2 {
     font-size: 2em; }

h3 {
     font-size: 1.75em; }

h4 {
     font-size: 1.5em; }

h5 {
     font-size: 1.25em; }

h6 {
     font-size: 1em; }

p {
     margin: 0 0 0.75em; }

a {
     -webkit-transition: color 0.1s linear;
     -moz-transition: color 0.1s linear;
     transition: color 0.1s linear;
     color: #477DCA;
     text-decoration: none; }
a:hover {
     color: #2c5999; }
a:active, a:focus {
     color: #2c5999;
     outline: none; }

hr {
     border-bottom: 1px solid #DDD;
     border-left: none;
     border-right: none;
     border-top: none;
     margin: 1.5em 0; }

img,
picture {
     margin: 0;
     max-width: 100%; }

blockquote {
     border-left: 2px solid #DDD;
     color: #595959;
     margin: 1.5em 0;
     padding-left: 0.75em; }

cite {
     color: #737373;
     font-style: italic; }
cite:before {
     content: "\2014 \00A0"; }

fieldset {
     background: #f7f7f7;
     border: 1px solid #DDD;
     margin: 0 0 0.75em 0;
     padding: 1.5em; }

input,
label,
select {
     display: block;
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     font-size: 1em; }

label {
     font-weight: bold;
     margin-bottom: 0.375em; }
label.required:after {
     content: "*"; }
label abbr {
     display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-transition: border-color;
     -moz-transition: border-color;
     transition: border-color;
     background-color: white;
     border-radius: 3px;
     border: 1px solid #DDD;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
     font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
     font-size: 1em;
     margin-bottom: 0.75em;
     padding: 0.5em 0.5em;
     width: 100%; }
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
     border-color: #c4c4c4; }
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
     border-color: #477DCA;
     box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
     outline: none; }

textarea {
     resize: vertical; }

input[type="search"] {
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     -o-appearance: none;
     appearance: none; }

input[type="checkbox"],
input[type="radio"] {
     display: inline;
     margin-right: 0.375em; }

input[type="file"] {
     padding-bottom: 0.75em;
     width: 100%; }

select {
     margin-bottom: 1.5em;
     max-width: 100%;
     width: auto; }

table {
     border-collapse: collapse;
     margin: 0.75em 0;
     table-layout: fixed;
     width: 100%; }

th {
     border-bottom: 1px solid #b7b7b7;
     font-weight: bold;
     padding: 0.75em 0;
     text-align: left; }

td {
     border-bottom: 1px solid #DDD;
     padding: 0.75em 0; }

tr,
td,
th {
     vertical-align: middle; }

ul,
ol {
     margin: 0;
     padding: 0;
     list-style-type: none; }
dl {
     margin-bottom: 0.75em; }
dl dt {
     font-weight: bold;
     margin-top: 0.75em; }
dl dd {
     margin: 0; }

/*

@mixin true-button($button-size, $font-size, $color) {
        
        font-size: em($font-size);
        font-weight: 600;
        text-decoration: none !important;
        color: #fff;

        height: $button-size;
        padding: 0;

        @include transition(all 0.2s);
        background-color: $color;
        position: relative;

        @if strip-units($button-size) < 70 {
                border-radius: 4px;	
        } @else {
                border-radius: 5px;			
        }	
        
        > span {

                text-decoration: none !important;
                @include transition(all 0.2s);
                width: 100%;
                height: 100%;		
                display: block;
                padding: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                @include radial-gradient(ellipse farthest-corner at center top, lighten($color,20%), $color);
//		box-shadow: inset 0 2px 0 lighten($color,25%);
                opacity: 0.25;

                @if strip-units($button-size) < 70 {
                        border-radius: 4px;	
                } @else {
                        border-radius: 5px;			
                }
                
                

        }
        
        > label {
                padding: 0px $button-size/2;
                width: 100%;
                height: 100%;
                display: block;
                margin: 0;			
                line-height: $button-size;
                position: relative;
                cursor: pointer;
        }
        
  &:hover {
    color: white;
                @include transition(all 0.2s);
                background-color: $color;
                span {
                        @include transition(all 0.2s);
                        opacity: 0.7;
                }
  } 

        &:active {
                @include transition(all 0.2s);
        }
  
                
}
*/
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012–2014 thoughtbot, inc.
 * MIT License */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box; }

*, *:before, *:after {
     -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
     box-sizing: inherit; }

/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 *
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number} $local-max-width ($max-width) - Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss
 *  .element {
 *    @include outer-container(100%);
 *  }
 *
 * @example css
 *  .element {
 *    *zoom: 1;
 *    max-width: 100%;
 *    margin-left: auto;
 *    margin-right: auto;
 *  }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block) - Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right) - Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   // CSS
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
html, body {
     margin-top: 0 !important; }

body {
     color: #3e464c;
     margin: 0;
     padding: 0; }

.row {
     display: block; }
.row:after {
     content: "";
     display: table;
     clear: both; }

#wrapper {
     overflow: hidden; }

.button {
     position: relative;
     display: inline-block;
     cursor: pointer; }
.button > span {
     position: absolute;
     left: 0;
     right: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all;
     cursor: pointer;
     display: block; }
.button > label {
     position: relative;
     display: block;
     font-weight: 500;
     background: transparent;
     margin: 0;
     cursor: pointer; }

.small.button,
button.small {
     height: 32px;
     border-radius: 3px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.small.button > label,
button.small > label {
     height: 32px;
     padding: 0 18px;
     font-size: 1em !important;
     font-weight: 500;
     line-height: 32px; }

.verysmall.button,
button.verysmall {
     height: 28px;
     border-radius: 2px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.verysmall.button > label,
button.verysmall > label {
     height: 28px;
     padding: 0 14px;
     font-size: 0.875em !important;
     font-weight: 500;
     line-height: 28px; }

.medium.button,
button.medium {
     height: 42px;
     border-radius: 4px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.medium.button > label,
button.medium > label {
     height: 42px;
     padding: 0 21px;
     font-size: 16px !important;
     font-weight: 500;
     line-height: 42px; }

.big.button,
button.big {
     height: 48px;
     border-radius: 5px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.big.button > label,
button.big > label {
     height: 48px;
     padding: 0 20px;
     font-size: 20px !important;
     font-weight: 500;
     line-height: 46px !important; }

.blue.button {
     background-color: #004571;
     background-image: -webkit-linear-gradient(#004571, #00395f);
     background-image: linear-gradient(#004571, #00395f);
     border: none; }
.blue.button > span {
     background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #006aae, rgba(0, 69, 113, 0));
     background-image: radial-gradient( ellipse farthest-corner at center top, #006aae, rgba(0, 69, 113, 0)); }
.blue.button > label {
     color: #fff; }
.blue.button:hover > span {
     opacity: 1;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }

.darkblue.button {
     background-color: #004571;
     background-image: -webkit-linear-gradient(#004571, #00395f);
     background-image: linear-gradient(#004571, #00395f);
     border: none; }
.darkblue.button > span {
     background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #006aae, rgba(0, 69, 113, 0));
     background-image: radial-gradient( ellipse farthest-corner at center top, #006aae, rgba(0, 69, 113, 0)); }
.darkblue.button > label {
     color: #fff; }
.darkblue.button:hover > span {
     opacity: 1;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }

.green.button {
     background-color: #7bb025;
     background-image: -webkit-linear-gradient(#7bb025, #5d861d);
     background-image: linear-gradient(#7bb025, #5d861d);
     border: none; }
.green.button > span {
     background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #a1d84a, rgba(108, 155, 33, 0));
     background-image: radial-gradient( ellipse farthest-corner at center top, #a1d84a, rgba(108, 155, 33, 0)); }
.green.button > label {
     color: #fff; }
.green.button:hover > span {
     opacity: 1;
     -webkit-transition: 0.2s all;
     -moz-transition: 0.2s all;
     transition: 0.2s all; }

.signup-first {
     padding: 30px 0;
     text-align: center; }
.signup-first .button {
     box-shadow: none;
     border: 1px solid #5d861d;
     height: 54px;
     border-radius: 5px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.signup-first .button > label {
     height: 54px;
     padding: 0 20px;
     font-size: 22px !important;
     font-weight: 500;
     line-height: 52px !important; }

@media screen and (min-width: 64em) and (max-width: 75em) {
     .hide-on-mobile {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     .hide-on-mobile {
          display: none; } }
@media screen and (max-width: 43.75em) {
     .hide-on-mobile {
          display: none; } }

.show-on-phone {
     display: none !important; }
@media screen and (max-width: 43.75em) {
     .show-on-phone {
          display: block !important; } }

@media screen and (max-width: 43.75em) {
     .hide-on-phone {
          display: none !important; } }

.hide {
     display: none; }

@media screen and (min-width: 75em) {
     .show-on-desktop {
          display: block; } }

@media screen and (min-width: 64em) and (max-width: 75em) {
     .show-on-tablet {
          display: block; } }

@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     .show-on-portrait {
          display: block; } }

@media screen and (min-width: 75em) {
     .container {
          max-width: 1160px;
          margin-left: auto;
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     .container {
          max-width: 980px;
          margin-left: auto;
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     .container {
          max-width: 680px;
          margin-left: auto;
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }
@media screen and (max-width: 43.75em) {
     .container {
          max-width: 90%;
          margin-left: auto;
          margin-right: auto; }
     .container:after {
          content: "";
          display: table;
          clear: both; } }

.inside {
     position: relative;
     height: 100%;
     width: 100%; }

h2 {
     color: #004571; }

h1.cyan {
     color: #01a4d2; }

h1.main-header {
     margin-bottom: 2em; }

.row {
     display: block; }
.row:after {
     content: "";
     display: table;
     clear: both; }

header {
     height: 150px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header {
          height: 105px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header {
          height: 105px; } }
@media screen and (max-width: 43.75em) {
     header {
          height: 105px; } }
header .dark {
     background-color: #00395f;
     background-image: -webkit-linear-gradient(#00395f, #004571);
     background-image: linear-gradient(#00395f, #004571); }
header .dark .container .inside {
     height: 100px; }
header .dark .container .inside #logo {
     position: absolute;
     left: 0;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%); }
header .dark .container .inside #logo img {
     display: block;
     width: 320px; }
@media screen and (max-width: 43.75em) {
     header .dark .container .inside #logo img {
          width: 240px;
          top: 55%; } }
header .dark .container .inside ul {
     position: absolute;
     right: 0;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%); }
header .dark .container .inside ul li {
     float: left;
     vertical-align: middle;
     margin-left: 1ex; }
header .dark .container .inside ul li a.link {
     font-size: 1.125em;
     display: block;
     padding: 10px 10px;
     color: #72c7df; }
header .dark .container .inside ul li a.link:hover {
     color: #c5e8f2; }
header .dark .container .inside ul li.active .link {
     color: #fff; }
header .dark .container .inside ul li a.button {
     border: 1px solid #003050; }
header .dark .container .inside ul li a.button.login {
     margin-left: 30px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .dark .container .inside ul {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .dark .container .inside ul {
          display: none; } }
@media screen and (max-width: 43.75em) {
     header .dark .container .inside ul {
          display: none; } }
header .dark .container .inside #fixedmenulink {
     position: absolute;
     right: 20px;
     top: 50%;
     z-index: 100000; }
header .dark .container .inside #fixedmenulink label {
     background: url(img/menu.svg) no-repeat center center;
     background-size: 80%; }
@media screen and (min-width: 75em) {
     header .dark .container .inside #fixedmenulink {
          display: none;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .dark .container .inside #fixedmenulink {
          display: block;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .dark .container .inside #fixedmenulink {
          display: block;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (max-width: 43.75em) {
     header .dark .container .inside #fixedmenulink {
          display: block;
          position: fixed;
          top: 30px;
          right: 30px; } }
header .light {
     background: #01a4d2; }
header .light .container .inside {
     height: 50px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .light .container .inside {
          height: 5px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .light .container .inside {
          height: 5px; } }
@media screen and (max-width: 43.75em) {
     header .light .container .inside {
          height: 5px; } }
header .light .container .inside ul li {
     float: left;
     line-height: 50px;
     color: #fff; }
header .light .container .inside ul li a.link {
     display: block;
     padding: 0 20px;
     font-size: 1.125em;
     color: #fff;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
header .light .container .inside ul li:hover a {
     background-color: rgba(114, 199, 223, 0.5); }
header .light .container .inside ul li a.home {
     display: block;
     width: 65px;
     background-image: url(img/iconHome.svg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 30px auto;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
header .light .container .inside ul li.active a.link {
     background: #fff;
     color: #01a4d2;
     -webkit-transition: 0.5s all;
     -moz-transition: 0.5s all;
     transition: 0.5s all; }
header .light .container .inside ul li.active a.home {
     background-color: #fff;
     background-image: url(img/iconHomeActive.svg); }
header .light .container .inside ul li.right {
     float: right; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     header .light .container .inside ul {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     header .light .container .inside ul {
          display: none; } }
@media screen and (max-width: 43.75em) {
     header .light .container .inside ul {
          display: none; } }

#content {
     min-height: 500px;
     padding: 60px 0; }
#content .container > .inside {
     display: block; }
#content .container > .inside:after {
     content: "";
     display: table;
     clear: both; }
#content .container > .inside > #left {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 70.3389830508%; }
#content .container > .inside > #left:last-child {
     margin-right: 0; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #content .container > .inside > #left {
          width: 100%; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #content .container > .inside > #left {
          width: 100%; } }
@media screen and (max-width: 43.75em) {
     #content .container > .inside > #left {
          width: 100%; } }
#content .container > .inside > #sidebar {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 23.7288135593%;
     margin-left: 4.2372881356%; }
#content .container > .inside > #sidebar:last-child {
     margin-right: 0; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     #content .container > .inside > #sidebar {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     #content .container > .inside > #sidebar {
          display: none; } }
@media screen and (max-width: 43.75em) {
     #content .container > .inside > #sidebar {
          display: none; } }
#content .container > .inside > #sidebar div.widget {
     margin-bottom: 2em; }
#content .container > .inside > #sidebar div.widget h2 {
     color: #01a4d2;
     font-size: 1.125em;
     text-transform: uppercase;
     margin: 0 0 1em; }
#content .container > .inside > #sidebar div.widget a {
     color: #004571; }
#content .container > .inside > #sidebar div.widget a:hover {
     text-decoration: underline; }

footer .pkobp {
     background: rgba(237, 239, 242, 0.9); }
footer .pkobp .container .inside {
     background: url(img/pkobp.svg) no-repeat left center;
     background-size: auto 72px;
     height: 120px;
     padding: 0 200px 0 260px; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside {
          height: 140px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .pkobp .container .inside {
          height: 240px;
          background-position: left 30px;
          padding-right: 0px;
          padding-top: 35px; } }
@media screen and (max-width: 43.75em) {
     footer .pkobp .container .inside {
          background-position: left 30px;
          height: auto;
          padding: 120px 0 30px; } }
@media screen and (min-width: 75em) {
     footer .pkobp .container .inside .text {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside .text {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
footer .pkobp .container .inside figure {
     margin: 0;
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     left: 0; }
footer .pkobp .container .inside h2 {
     font-size: 1.75em;
     line-height: 1.3em;
     font-weight: 500;
     color: #01a4d2;
     margin: 0; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside h2 {
          font-size: 1.5em; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .pkobp .container .inside h2 {
          line-height: 1.15em;
          margin-bottom: 10px; } }
footer .pkobp .container .inside h3 {
     font-size: 1.125em;
     font-weight: 500; }
footer .pkobp .container .inside h3 span {
     background: #01a4d2;
     color: #fff;
     display: inline-block;
     padding: 0 5px; }
@media screen and (min-width: 75em) {
     footer .pkobp .container .inside .button {
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .pkobp .container .inside .button {
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); } }
@media screen and (max-width: 43.75em) {
     footer .pkobp .container .inside .button {
          margin-top: 20px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .pkobp .container .inside .button {
          margin-top: 20px; } }
footer .dark {
     background: #004571; }
footer .dark .container .inside {
     padding: 30px 0;
     height: 200px;
     color: #fff; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside {
          height: 280px; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside {
          height: 280px; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside {
          height: 160px; } }
footer .dark .container .inside .row {
     display: block; }
footer .dark .container .inside .row:after {
     content: "";
     display: table;
     clear: both; }
footer .dark .container .inside .row .text {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 23.7288135593%;
     text-align: right; }
footer .dark .container .inside .row .text:last-child {
     margin-right: 0; }
footer .dark .container .inside .row .text .copy {
     font-size: 1em; }
footer .dark .container .inside .row .text .true {
     font-size: 0.875em;
     color: #001a2c; }
footer .dark .container .inside .row .text .true a {
     color: #001a2c;
     text-decoration: underline; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .row .text {
          text-align: left;
          width: 100%; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .row .text {
          text-align: left;
          width: 100%; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .row .text {
          text-align: left;
          width: 100%; } }
footer .dark .container .inside .row ul {
     float: left;
     display: block;
     margin-right: 1.6949152542%;
     width: 74.5762711864%;
     text-align: left; }
footer .dark .container .inside .row ul:last-child {
     margin-right: 0; }
footer .dark .container .inside .row ul li {
     display: inline-block;
     font-size: 1em;
     margin: 0 10px; }
footer .dark .container .inside .row ul li a {
     color: #72c7df; }
footer .dark .container .inside .row ul li.active a {
     color: #fff; }
@media screen and (min-width: 75em) {
     footer .dark .container .inside .row ul {
          display: block; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .row ul {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .row ul {
          display: none; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .row ul {
          display: none; } }
footer .dark .container .inside .logos {
     margin-top: 30px;
     opacity: 0.5; }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .logos {
          display: none; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .logos {
          text-align: left; } }
footer .dark .container .inside .logos li {
     float: left;
     margin-right: 4ex;
     vertical-align: middle;
     height: 70px; }
footer .dark .container .inside .logos li figure {
     display: block;
     margin: 0;
     width: 100%;
     line-height: 70px; }
footer .dark .container .inside .logos li figure img {
     display: inline; }
footer .dark .container .inside .logos li.logoSkanuj {
     width: 130px; }
footer .dark .container .inside .logos li.logoXenga {
     width: 90px; }
footer .dark .container .inside .logos li.logoSprawdzonyKsiegowy {
     width: 130px; }
footer .dark .container .inside .logos li.logoMCI {
     width: 70px; }
footer .dark .container .inside .logos li.logoCloudPlanet {
     width: 40px; }
footer .dark .container .inside .logos li.right {
     float: right;
     margin-right: 0; }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .logos li.right {
          float: none;
          display: block;
          text-align: left; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .logos li.right {
          float: none;
          display: block;
          text-align: left; } }
@media screen and (max-width: 43.75em) {
     footer .dark .container .inside .logos li.right {
          float: left;
          width: 300px;
          display: block;
          text-align: left; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
     footer .dark .container .inside .logos li {
          float: none;
          display: inline-block; } }
@media screen and (min-width: 43.75em) and (max-width: 63.9375em) {
     footer .dark .container .inside .logos li {
          float: none;
          display: inline-block; } }

.post .categories {
     margin-bottom: 1em; }
.post .categories a {
     display: inline-block;
     font-size: 0.875em;
     font-weight: 600;
     color: #01a4d2;
     text-transform: uppercase; }
.post .categories a:hover {
     text-decoration: underline; }
.post h1 {
     margin-bottom: 1em;
     font-size: 2.25em; }
.post h2 {
     margin-bottom: 1em;
     font-size: 1.5em; }
.post h2 a {
     color: #00395f; }
.post h2 a:hover {
     text-decoration: underline; }
.post .small-thumb {
     float: left;
     width: 200px;
     height: 200px;
     background-position: center center;
     background-size: cover !important;
     margin: 0 20px 20px 0;
     background-repeat: no-repeat; }
@media screen and (max-width: 43.75em) {
     .post .small-thumb {
          float: none;
          margin: 0 0 20px; } }
.post .meta {
     text-transform: uppercase;
     color: #c1c4c5; }
.post .meta .avatar {
     border-radius: 100%;
     display: inline-block;
     vertical-align: middle;
     margin-left: -30px;
     margin-right: 20px;
     display: none; }
.post .meta span {
     vertical-align: middle;
     display: inline-block;
     margin-right: 1em;
     padding-right: 1em;
     border-right: 1px solid #c1c4c5;
     font-weight: 600;
     font-size: 0.875em;
     line-height: 1em; }
.post .meta span:last-child {
     border-right: none; }
.post .big-poster {
     margin: 0 0 2em;
     width: 100%;
     padding-top: 50%;
     display: block;
     position: relative; }
.post .big-poster > div {
     background-size: cover !important;
     background-repeat: no-repeat;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%; }

.single-post .post .meta {
     margin-bottom: 2em; }
.single-post .post .entry-content p, .single-post .post .entry-content ul, .single-post .post .entry-content ol {
     margin-bottom: 2em; }
.single-post .post .entry-content ul li, .single-post .post .entry-content ol li {
     margin-bottom: 1ex; }
.single-post .post .entry-content ul ul, .single-post .post .entry-content ul ol, .single-post .post .entry-content ol ul, .single-post .post .entry-content ol ol {
     margin-top: 1em; }
.single-post .post .entry-content ol {
     margin-left: 1ex;
     list-style-type: decimal; }
.single-post .post .entry-content ol li {
     margin-left: 1em; }
.single-post .post .entry-content ul {
     padding-left: 1ex; }
.single-post .post .entry-content ul li {
     padding-left: 1em;
     background: url(img/bullet.png) no-repeat left 7px; }
.single-post .post-navigation {
     padding: 50px 0; }
.single-post .post-navigation h2 {
     display: none; }
.single-post .post-navigation .nav-links {
     display: block; }
.single-post .post-navigation .nav-links:after {
     content: "";
     display: table;
     clear: both; }
.single-post .post-navigation .nav-links > div {
     padding: 0;
     display: block;
     float: left;
     display: block;
     width: 50.8474576271%; }
.single-post .post-navigation .nav-links > div:last-child {
     width: 49.1525423729%; }
@media screen and (max-width: 43.75em) {
     .single-post .post-navigation .nav-links > div {
          width: 100%;
          width: 100%; } }
.single-post .post-navigation .nav-links > div a {
     display: block;
     padding: 30px 40px; }
@media screen and (max-width: 43.75em) {
     .single-post .post-navigation .nav-links > div a {
          padding: 20px 0; } }
.single-post .post-navigation .nav-links > div a span {
     display: block; }
.single-post .post-navigation .nav-links > div a span.screen-reader-text {
     text-transform: uppercase;
     color: #c1c4c5;
     display: inline-block;
     font-weight: 600;
     font-size: 0.875em;
     line-height: 1em; }
.single-post .post-navigation .nav-links > div a span.post-title {
     color: #00395f; }
.single-post .post-navigation .nav-links > div.nav-previous a {
     background: url(img/prev.svg) no-repeat left center;
     margin-left: -40px;
     padding-left: 60px; }
@media screen and (max-width: 43.75em) {
     .single-post .post-navigation .nav-links > div.nav-previous a {
          margin: 0;
          padding: 0;
          background: none; } }
.single-post .post-navigation .nav-links > div.nav-next {
     text-align: right;
     float: right; }
@media screen and (max-width: 43.75em) {
     .single-post .post-navigation .nav-links > div.nav-next {
          float: none;
          text-align: left; } }
.single-post .post-navigation .nav-links > div.nav-next a {
     background: url(img/next.svg) no-repeat right center;
     margin-right: -40px;
     padding-right: 60px; }
@media screen and (max-width: 43.75em) {
     .single-post .post-navigation .nav-links > div.nav-next a {
          margin: 0;
          padding: 0;
          background: none; } }

.archive .post, .home .post {
     margin-bottom: 2em; }
@media screen and (max-width: 43.75em) {
     .archive .post, .home .post {
          margin-bottom: 4em; } }
.archive .post .meta, .home .post .meta {
     margin-bottom: 1em; }
.archive .post.has-post-thumbnail .text, .home .post.has-post-thumbnail .text {
     margin-left: 240px; }
@media screen and (max-width: 43.75em) {
     .archive .post.has-post-thumbnail .text, .home .post.has-post-thumbnail .text {
          margin-left: 0; } }

#comments {
     margin-top: 4em;
     background: #edeff2;
     padding: 30px; }
#comments h2 {
     font-size: 1.25em;
     margin: 0 0 1.5em;
     color: #3e464c; }
#comments .comment-list .comment {
     margin-bottom: 2em; }
#comments .comment-list .comment .avatar {
     display: none; }

#signup {
     background-color: #00395f;
     background-image: -webkit-linear-gradient(#00395f, #004571);
     background-image: linear-gradient(#00395f, #004571);
     background: #004571;
     text-align: center;
     padding: 30px 0;
     color: #fff; }
#signup p {
     font-size: 1.125em;
     display: inline-block;
     margin: 0; }
#signup a {
     border: 1px solid #003050;
     margin: 0 1em; }

.related-posts h2 {
     font-size: 1.25em;
     margin-bottom: 1em; }
.related-posts .row {
     display: block; }
.related-posts .row:after {
     content: "";
     display: table;
     clear: both; }
.related-posts .row .rltdpstsplgn_content {
     float: left;
     display: block;
     margin-right: 2.5641025641%;
     width: 48.7179487179%; }
.related-posts .row .rltdpstsplgn_content:last-child {
     margin-right: 0; }
.related-posts .row .rltdpstsplgn_content:last-child {
     margin-right: 0; }
@media screen and (max-width: 43.75em) {
     .related-posts .row .rltdpstsplgn_content {
          width: 100%; }
     .related-posts .row .rltdpstsplgn_content:last-child {
          margin-right: 0; } }
.related-posts .row .rltdpstsplgn_content a {
     display: block; }
.related-posts .row .rltdpstsplgn_content a img {
     width: 150px;
     height: 150px;
     float: left;
     margin-right: 20px; }
@media screen and (max-width: 43.75em) {
     .related-posts .row .rltdpstsplgn_content a img {
          width: 100px;
          height: 100px; } }
.related-posts .row .rltdpstsplgn_content a .text {
     margin-left: 170px; }
@media screen and (max-width: 43.75em) {
     .related-posts .row .rltdpstsplgn_content a .text {
          margin-left: 120px; } }
.related-posts .row .rltdpstsplgn_content a .text h3 {
     font-size: 1em;
     font-weight: 500;
     color: #00395f; }
.related-posts .row .rltdpstsplgn_content a .text .info {
     text-transform: uppercase;
     color: #c1c4c5;
     display: inline-block;
     font-weight: 600;
     font-size: 0.875em;
     line-height: 1em; }

#fixedmenu {
     background-color: #002034;
     background-image: -webkit-linear-gradient(-540deg, #002034, #00263e);
     background-image: linear-gradient(270deg,#002034, #00263e);
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     width: 15.625em;
     z-index: 10000000;
     right: -15.625em; }
#fixedmenu .inside {
     overflow-y: scroll;
     padding: 40px 0; }
#fixedmenu .inside h2 {
     color: #fff;
     opacity: 0.5;
     padding: 10px 20px;
     text-transform: uppercase;
     font-size: 1em; }
#fixedmenu .inside ul li a.link {
     font-size: 1em;
     line-height: 1em;
     display: block;
     padding: 10px 20px;
     color: #72c7df; }
#fixedmenu .inside ul li a.link:hover {
     color: #c5e8f2; }
#fixedmenu .inside ul li.active .link {
     color: #fff; }
#fixedmenu .inside ul li a.button {
     border: 1px solid #001a2c; }
#fixedmenu .inside ul.buttons {
     padding: 10px 0; }
#fixedmenu .inside ul.buttons li {
     padding: 10px 20px; }
#fixedmenu .inside ul.buttons li a {
     width: 100%;
     text-align: center; }
#fixedmenu .inside .widget_text {
     display: none; }
#fixedmenu .inside .widget_categories, #fixedmenu .inside .widget_archive {
     margin-bottom: 30px; }
#fixedmenu .inside .widget_categories ul li a, #fixedmenu .inside .widget_archive ul li a {
     font-size: 1em;
     line-height: 1em;
     display: block;
     padding: 10px 20px;
     color: #72c7df; }
#fixedmenu .inside .widget_categories ul li a:hover, #fixedmenu .inside .widget_archive ul li a:hover {
     color: #c5e8f2; }
.newButtonLogin {
     padding: 12px 21px;
     font-size: 16px !important;
     font-weight: 500;
     line-height: 1.1em !important;
     color: #fff;
}

.newButtonsignup {
     padding: 12px 21px;
     font-size: 16px !important;
     font-weight: 500;
     line-height: 1.1em !important;
     color: #fff;
}

.button-45-days {
     padding: 15px 20px;
     font-size: 20px !important;
     font-weight: 500;
     line-height: 1.1em !important;
     color: #fff;
}
.newButtonLogin:hover {
     color: #fff !important;
     background-color: #004571;
     background-image: linear-gradient(#596b97, #255e84);
}

.newButtonsignup:hover {
     color: #fff !important;
     background-color: #7bb025;
     background-image: linear-gradient(#a7dc56, #93bc53);
}

.button-45-days:hover {
     color: #fff !important;
     background-color: #7bb025;
     background-image: linear-gradient(#a7dc56, #93bc53);
}

.newMoreButton {
     padding: 4px 21px;
     font-size: 16px !important;
     font-weight: 500;
     line-height: 1.1em !important;
     color: #fff;
}

.newMoreButton:hover {
     color: #fff !important;
     background-color: #004571;
     background-image: linear-gradient(#596b97, #255e84);
}