@import '../neat/neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
$column: 60px;
$gutter: 40px;
$grid-columns: 24;
$max-width: em(1160);

// Neat Breakpoints
$mobile-screen:   em(700);
$portrait-screen: em(1023);
$tablet-screen:   em(1024);
$desktop-screen:  em(1200);
$big-screen:  	  em(1320);

$mobile:    new-breakpoint(max-width $mobile-screen 4);
$portrait:  new-breakpoint(min-width $mobile-screen max-width $portrait-screen 12);
$tablet:    new-breakpoint(min-width $tablet-screen max-width $desktop-screen 12);
$desktop:   new-breakpoint(min-width $desktop-screen 12);
$big:   		new-breakpoint(min-width $big-screen 12);

